@charset 'utf-8';

/**
 * 셋팅
 * 전역변수
 */

/** 그리드 */
// container
$container_pc_gutter: 130px;
$container_mo_gutter: 70px;

// grid
$grid_pc_row: 46px;
$grid_pc_row_gutter: 34px;
$grid_pc_column: 84px;
$grid_pc_column_gutter: 32px;
$grid_mo_row: 34px;
$grid_mo_row_gutter: 26px;
$grid_mo_column: 46px;
$grid_mo_column_gutter: 20px;

/** 프로젝트 상품 비율 */
$prod_ratio_base: var(--prod_ratio_base);
$prod_height_base: calc($prod_ratio_base * 100%);

/** font */
$font_size_base: 10px;
$font_family_base: 'PretendardVariable', sans-serif;
$fontpath: '/public/font/';// local
// $fontpath: 'https://img.mmonsolution.com/mall/ui/font/';// CDN

// 기본 폰트
$color_text_base: #101010;

/** z-index */
$zindex_bom: 3300;
$zindex_loading: 3200;
$zindex_most: 3000;
$zindex_skip: 3100;
$zindex_modal: 2100;
$zindex_popup: 2000;
$zindex_header: 1200;// 1000: mobile
$zindex_toolbar: 1100;
$zindex_sidebar: 1000;// 1200: mobile
$zindex_floating: 100;
$zindex_alert: 10;// 텍스트 경고

/** transition sec */
$time_base: 0.4s;
$time_fast: 0.2s;
$time_faster: 0.1s;
$time_slow: 0.7s;
$time_slower: 1s;

// 1px transpatent gif
$image_empty: 'data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==';

/** 등급 */
$color_level5: var(--color_level5);
$color_level4: var(--color_level4);
$color_level3: var(--color_level3);
$color_level2: var(--color_level2);
$color_level1: var(--color_level1);
