@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function';
@use '../../common/helper/mixin';
@use '../../common/setting/const';
@use '../../style/setting/var';

/**
 * 컴포넌트
 * 이미지, 백그라운드, 아이콘 등 이미지의 기본 단위
 */

/** 기본형 */
.mm_image {
	// 이미지 없음
	&-none {
		position: relative;

		.ico_none::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 52%;
			height: 100%;
			transform: translate(-50%, -50%);
			@include mixin.svg(#d1d0d0 url('/public/images/common/logo.svg'));
		}

		// 배너 리스트 이미지
		.image_banner {
			background-color: #f5f5f5;
		}

		// 띠배너
		&.image_banner {
			width: 100%;
			height: 224px;
			background-color: #f5f5f5;

			.ico_none {
				display: none;
			}

			&::after {
				position: absolute;
				top: 50%;
				right: 8px;
				left: 8px;
				@include mixin.font(#a3a3a3 '1.4rem/2rem' center);

				transform: translateY(-50%);
				content: attr(data-ir);
			}
		}
	}

	// 브랜드
	&-brand {
		overflow: hidden;
		position: relative;
		padding-top: 121.7687%;
		width: 100%;
		background-color: #f2f2f2;
		text-align: center;

		span {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			padding: 0 10px;
			width: 100%;
			@include mixin.font(#a3a3a3 v_400 '1.2rem/1.4rem');

			transform: translateY(-50%);
		}

		&#{function.escape('.S=loaded')} {
			span {
				display: none;
			}
		}
	}

	&-scale {
		overflow: hidden;
		position: relative;

		&:not(.mm_image-none) {
			> * {
				transition: transform 1.5s ease-in-out;

				&[data-lazyload] {
					transition: transform 1.5s ease-in-out, opacity const.$time_base;
				}
			}
		}

		// 마우스 오버용 상품 이미지
		.image_product:nth-child(2) {
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
		}

		&:hover,
		&:focus {
			.image_product:nth-child(2) {
				opacity: 1;
			}
		}
	}
}

/** 아이콘 */
.ico_ {
	// 폼
	&form {
		// 체크박스
		&-check {
			position: relative;
			width: var.$form_check_height_base;
			height: var.$form_check_height_base;
			border: 1px solid #b8b8b9;
			border-radius: var.$form_border_radius_base;
			@include mixin.font(#cdcdcd '1.7rem/#{math.div(var.$form_check_height_base, const.$font_size_base) * 1rem}' center);

			&::before {
				width: 11px;
				height: 12px;
				@include mixin.svg(#cdcdcd url('/public/images/common/ico_check.svg'));
			}
		}

		// 라디오
		&-radio#{function.escape('.T=circle')}::before {
			width: 19px;
			height: 19px;
			@include mixin.svg(#cdcdcd url('/public/images/common/ico_check_circle.svg'));
		}

		// 삭제
		&-clear::before {
			width: 16px;
			height: 16px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_close_circle.svg'));
		}

		&-select::before {
			width: 10px;
			height: 6px;
			@include mixin.svg(#767676 url('/public/images/common/ico_arrow_thick_round.svg'));

			transform: rotate(180deg);
		}
	}

	// 모달
	&modal {
		&-close::before {
			width: 20px;
			height: 20px;
			@include mixin.svg(#4a4a4a url('/public/images/common/ico_close.svg'));
		}
	}

	// bom
	&bom {
		&-alert::before {
			width: 31px;
			height: 28px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_bom_alert.svg'));
		}
	}

	// 로딩
	&loading::before {
		width: 29px;
		height: 29px;
		@include mixin.svg(var.$color_main url('/public/images/common/ico_loading.svg'));
	}

	// 링크
	&link {
		&:not([class*="#{function.escape('T=')}"])::before {
			@include mixin.svg(#888 url('/public/images/common/ico_arrow_right.svg'));
		}

		&#{function.escape('.T=sm')}::before {
			width: 5px;
			height: 8px;
			@include mixin.svg(#4a4a4a url('/public/images/common/ico_arrow_thick_sm.svg'));
		}

		&#{function.escape('.T=xs')}::before {
			width: 4px;
			height: 7px;
			@include mixin.svg(#767676 url('/public/images/common/ico_arrow_sm.svg'));
		}

		&#{function.escape('.T=circle')}::before {
			width: 14px;
			height: 14px;
			@include mixin.svg(#2b2b2b url('/public/images/common/ico_arrow_circle.svg'));
		}

		&#{function.escape('.T=thin')}::before {
			width: 14px;
			height: 14px;
			@include mixin.svg(#999 url('/public/images/common/ico_arrow_thin.svg'));
		}
	}

	// 이전
	&back {
		&::before {
			width: 6px;
			height: 14px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_arrow.svg'));
		}

		&-arrow::before {
			width: 14px;
			height: 11px;
			@include mixin.svg(const.$color_text_base url('/public/images/common/ico_arrow_tail_left.svg'));
		}
	}

	// 드롭다운
	&dropdown {
		&:not([class*="#{function.escape('T=')}"])::before {
			width: 12px;
			height: 7px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_arrow_round.svg'));
		}

		&#{function.escape('.T=sm')}::before {
			width: 10px;
			height: 6px;
			@include mixin.svg(const.$color_text_base url('/public/images/common/ico_arrow_thick.svg'));
		}

		&#{function.escape('.T=xs')}::before {
			width: 8px;
			height: 5px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_arrow_down.svg'));
		}

		&#{function.escape('.T=bold')}::before {
			width: 12px;
			height: 7px;
			@include mixin.svg(const.$color_text_base url('/public/images/common/ico_arrow_thick_round.svg'));
		}
	}

	// 페이지네이션
	&page {
		&-first::before {
			width: 11px;
			height: 10px;
			@include mixin.svg(#888 url('/public/images/common/ico_arrow_double.svg'));
		}

		&-prev::before {
			width: 6px;
			height: 10px;
			@include mixin.svg(#888 url('/public/images/common/ico_arrow.svg'));
		}

		&-next::before {
			width: 6px;
			height: 10px;
			@include mixin.svg(#888 url('/public/images/common/ico_arrow.svg'));

			transform: rotate(180deg);
		}

		&-last::before {
			width: 11px;
			height: 10px;
			@include mixin.svg(#888 url('/public/images/common/ico_arrow_double.svg'));

			transform: rotate(180deg);
		}
	}

	// 앵커
	&anchor {
		&-up::before {
			width: 15px;
			height: 17px;
			@include mixin.svg(#4a4a4a url('/public/images/common/ico_arrow_tail_top.svg'));
		}

		&-down::before {
			width: 15px;
			height: 17px;
			@include mixin.svg(#4a4a4a url('/public/images/common/ico_arrow_tail_bottom.svg'));
		}
	}

	// 로그인
	&login::before {
		width: 21px;
		height: 22px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_login.svg'));
	}

	// 로그아웃
	&logout::before {
		width: 22px;
		height: 22px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_logout.svg'));
	}

	// 회원가입
	&join::before {
		width: 23px;
		height: 24px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_join.svg'));
	}

	// 마이페이지
	&mypage::before {
		width: 23px;
		height: 26px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_mypage.svg'));
	}

	// 장바구니
	&cart::before {
		width: 27px;
		height: 26px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_cart.svg'));
	}

	&pushcart::before {
		width: 29px;
		height: 24px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_pushcart.svg'));
	}

	// 검색
	&search {
		&:not([class*='T='])::before {
			width: 22px;
			height: 23px;
			@include mixin.svg(#767676 url('/public/images/common/ico_search.svg'));
		}

		&#{function.escape('.T=sm')}::before {
			width: 11px;
			height: 12px;
			@include mixin.svg(#888 url('/public/images/common/ico_search_thin.svg'));
		}
	}

	// 휴지통
	&delete::before {
		width: 12px;
		height: 14px;
		@include mixin.svg(#aeaeae url('/public/images/common/ico_trash.svg'));
	}

	// 닫기
	&close::before {
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_close.svg'));
	}

	// 비밀번호
	&pw {
		&-hide::before {
			width: 19px;
			height: 18px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_show.svg'));
		}

		&-show::before {
			width: 19px;
			height: 18px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_hide.svg'));
		}
	}

	// 별
	&star::before {
		@include mixin.svg(#f2953a url('/public/images/common/ico_star_fill.svg'));
	}

	// 순위
	&rank {
		&-up::before {
			width: 7px;
			height: 6px;
			@include mixin.svg(#ee6439 url('/public/images/common/ico_triangle.svg'));
		}

		&-down::before {
			width: 7px;
			height: 6px;
			@include mixin.svg(#645ffc url('/public/images/common/ico_triangle.svg'));

			transform: rotate(180deg);
		}

		&-unchanged::before {
			width: 7px;
			height: 4px;
			@include mixin.svg(#888 url('/public/images/common/ico_minus.svg'));
		}
	}

	// 찜하기
	&like {
		&::before {
			width: 18px;
			height: 18px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_heart.svg'));
		}

		&-fill::before {
			@include mixin.svg(#aeaeae url('/public/images/common/ico_heart_fill.svg'));
		}

		&-brand::before {
			width: 18px;
			height: 20px;
			@include mixin.svg(#888 url('/public/images/common/ico_shop_like.svg'));
		}
	}

	// 리뷰
	&review {
		&::before {
			width: 9px;
			height: 10px;
			@include mixin.svg(#aeaeae url('/public/images/common/ico_review.svg'));
		}

		&-write::before {
			width: 9px;
			height: 9px;
			@include mixin.svg(#fff url('/public/images/common/ico_pencil.svg'));
		}

		// 전체보기
		&-list::before {
			width: 16px;
			height: 16px;
			@include mixin.svg(#fff url('/public/images/common/ico_review_list.svg'));
		}
	}

	// 매장
	&shop::before {
		width: 14px;
		height: 13px;
		@include mixin.svg(#888 url('/public/images/common/ico_shop.svg'));
	}

	// 배송
	&ship::before {
		width: 19px;
		height: 14px;
		@include mixin.svg(#888 url('/public/images/common/ico_ship.svg'));
	}

	// 슬라이더 컨트롤러
	&control {
		&-prev {
			&:not([class*="#{function.escape('T=')}"])::before {
				width: 19px;
				height: 36px;
				@include mixin.svg(#999 url('/public/images/common/ico_arrow_thin.svg'));

				transform: rotate(180deg);
			}

			&#{function.escape('.T=sm')}::before {
				width: 8px;
				height: 17px;
				@include mixin.svg(const.$color_text_base url('/public/images/common/ico_arrow.svg'));
			}
		}

		&-next {
			&:not([class*="#{function.escape('T=')}"])::before {
				width: 19px;
				height: 36px;
				@include mixin.svg(#999 url('/public/images/common/ico_arrow_thin.svg'));
			}

			&#{function.escape('.T=sm')}::before {
				width: 8px;
				height: 17px;
				@include mixin.svg(const.$color_text_base url('/public/images/common/ico_arrow.svg'));

				transform: rotate(180deg);
			}
		}
	}

	// 내용없음
	&text-none {
		display: block;
		position: relative;
		margin: 0 auto 14px;
		width: 60px;
		height: 60px;
		border: 1px solid #dcdcdc;
		border-radius: 100%;
		background-color: #fff;

		&::before,
		&::after {
			position: absolute;
			top: 16px;
			left: 50%;
			width: 3px;
			height: 21px;
			background-color: #dcdcdc;
			transform: translateX(-50%);
			content: '';
		}

		&::after {
			top: auto;
			bottom: 16px;
			width: 3px;
			height: 3px;
			border-radius: 100%;
		}
	}

	// 유의사항
	&note::before {
		width: 13px;
		height: 13px;
		@include mixin.svg(#6a6a6a url('/public/images/common/ico_info.svg'));
	}

	// 쿠폰
	&coupon {
		&-download::before {
			width: 14px;
			height: 14px;
			@include mixin.svg(#fff url('/public/images/common/ico_arrow_tail_circle.svg'));
		}

		&-complete::before {
			width: 12px;
			height: 11px;
			@include mixin.svg(#fff url('/public/images/common/ico_check_sharp.svg'));
		}
	}

	// 멀티이미지
	&image {
		&-multiple::before {
			width: 22px;
			height: 20px;
			@include mixin.svg(var.$color_main url('/public/images/common/ico_image_multi.svg'));
		}

		&-remove::before {
			width: 12px;
			height: 12px;
			@include mixin.svg(#cdcdcd url('/public/images/common/ico_close.svg'));
		}
	}

	// 삭제
	&remove {
		&::before {
			width: 8px;
			height: 8px;
			@include mixin.svg(#fff url('/public/images/common/ico_close.svg'));
		}

		&-circle::before {
			width: 16px;
			height: 16px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_close_circle.svg'));
		}
	}

	// 새로고침
	&refresh::before {
		width: 13px;
		height: 11px;
		@include mixin.svg(#767676 url('/public/images/common/ico_refresh.svg'));
	}

	// 고객센터
	&cs::before {
		width: 17px;
		height: 14px;
		@include mixin.svg(#6a6a6a url('/public/images/common/ico_cs.svg'));
	}

	// 미성년자
	&adult {
		width: 70px;
		height: 70px;
		border: 4px solid #e91b1b;
		border-radius: 100%;
		background-color: #fff;
		text-align: center;

		&::before {
			@include mixin.font(v_700 '4rem/6.2rem');

			content: '19' !important;
		}

		&#{function.escape('.T=sm')} {
			width: 60px;
			height: 60px;

			&::before {
				@include mixin.font('3.5rem/5.2rem');
			}
		}
	}

	// sns
	&sns {
		&-naver::before {
			width: 16px;
			height: 15px;
			@include mixin.svg(#fff url('/public/images/common/ico_naver.svg'));
		}

		&-kakao::before {
			width: 22px;
			height: 20px;
			@include mixin.svg(#fff url('/public/images/common/ico_kakao.svg'));
		}

		&-apple::before {
			width: 22px;
			height: 26px;
			@include mixin.svg(#fff url('/public/images/common/ico_apple.svg'));
		}

		&-instagram::before {
			width: 30px;
			height: 30px;
			@include mixin.background(url('/public/images/common/ico_sns_instagram.png') '100% 0' no-repeat);
		}

		&-facebook::before {
			width: 30px;
			height: 30px;
			@include mixin.background(url('/public/images/common/ico_sns_facebook.png') '100% 0' no-repeat);
		}

		&-blog::before {
			width: 30px;
			height: 30px;
			@include mixin.background(url('/public/images/common/ico_sns_blog.png') '100% 0' no-repeat);
		}

		&-youtube::before {
			width: 30px;
			height: 30px;
			@include mixin.background(url('/public/images/common/ico_sns_youtube.png') '100% 0' no-repeat);
		}
	}

	// 필터
	&filter {
		&::before {
			width: 12px;
			height: 11px;
			@include mixin.svg(const.$color_text_base url('/public/images/common/ico_filter.svg'));
		}

		&-remove::before {
			width: 9px;
			height: 9px;
			@include mixin.svg(#888 url('/public/images/common/ico_close_dashed.svg'));
		}
	}

	// 이메일
	&email::before {
		width: 32px;
		height: 24px;
		@include mixin.svg(#b8b8b9 url('/public/images/common/ico_email.svg'));
	}

	// 휴대폰
	&phone::before {
		width: 19px;
		height: 28px;
		@include mixin.svg(#b8b8b9 url('/public/images/common/ico_phone.svg'));
	}

	&login {
		// 유의사항
		&-help::before {
			width: 13px;
			height: 13px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_help.svg'));
		}
	}

	// 휴대폰
	&smile::before {
		width: 44px;
		height: 40px;
		@include mixin.svg(#eee url('/public/images/common/ico_smile.svg'));
	}

	// 설정
	&setup::before {
		width: 18px;
		height: 18px;
		@include mixin.svg(#5c5c5c url('/public/images/common/ico_set.svg'));
	}

	// 추가
	&plus {
		&::before {
			width: 6px;
			height: 6px;
			@include mixin.svg(#fff url('/public/images/common/ico_plus_thick.svg'));
		}

		&-circle::before {
			width: 20px;
			height: 20px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_plus_circle.svg'));
		}
	}

	// 폴더
	&folder {
		&::before {
			width: 12px;
			height: 11px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_folder.svg'));
		}

		&-add::before {
			width: 19px;
			height: 14px;
			@include mixin.svg(const.$color_text_base url('/public/images/common/ico_folder_add.svg'));
		}

		&-open::before {
			width: 13px;
			height: 12px;
			@include mixin.svg(#fff url('/public/images/common/ico_folder_open.svg'));
		}
	}

	// 순서편집 수정
	&modify::before {
		width: 10px;
		height: 11px;
		@include mixin.svg(#5c5c5c url('/public/images/common/ico_sort_edit.svg'));
	}

	// 순서편집
	&sort::before {
		width: 6px;
		height: 14px;
		@include mixin.svg(#6a6a6a url('/public/images/common/ico_drag.svg'));
	}

	// 원 주문 상세
	&order-origin::before {
		width: 10px;
		height: 12px;
		@include mixin.svg(#767676 url('/public/images/common/ico_order.svg'));
	}

	// 고객센터
	&cs {
		// 메인
		$icons: qna, answer, ship, coupon;
		@each $icon in $icons {
			&-#{$icon} {
				&::before {
					width: 46px;
					height: 40px;
					@include mixin.background(url('/public/images/content/ico_cs_#{$icon}.svg') '50% 50%' no-repeat);
				}
			}
		}
	}

	// 더보기
	&more {
		&::before {
			width: 7px;
			height: 5px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_arrow_thick_round.svg'));

			transform: rotate(90deg);
		}
	}

	// 추가
	&add::before {
		width: 8px;
		height: 8px;
		@include mixin.svg(#fff url('/public/images/common/ico_plus_thick.svg'));
	}

	// 회원
	&member::before {
		width: 20px;
		height: 22px;
		@include mixin.svg(#101010 url('/public/images/common/ico_member.svg'));
	}

	// sns 공유
	&share::before {
		width: 17px;
		height: 18px;
		@include mixin.svg(#6a6a6a url('/public/images/common/ico_share.svg'));
	}

	// 사이즈
	&size::before {
		width: 15px;
		height: 12px;
		@include mixin.svg(const.$color_text_base url('/public/images/common/ico_size.svg'));
	}

	// 팝오버
	&popover {
		// 유의사항
		&-help::before {
			width: 13px;
			height: 13px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_help_fill.svg'));
		}
	}

	// 유의사항
	&help {
		&-fill::before {
			width: 13px;
			height: 13px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_help_fill.svg'));
		}

		&-guide::before {
			width: 22px;
			height: 24px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_help.svg'));
		}
	}

	// 다운로드
	&download::before {
		width: 12px;
		height: 12px;
		@include mixin.svg(#fff url('/public/images/common/ico_download.svg'));
	}

	// 복사하기
	&copy::before {
		width: 13px;
		height: 13px;
		@include mixin.svg(#767676 url('/public/images/common/ico_copy.svg'));
	}

	// 비밀글
	&lock::before {
		width: 10px;
		height: 12px;
		@include mixin.svg(#767676 url('/public/images/common/ico_lock.svg'));
	}

	// 포토 리뷰
	&photo::before {
		width: 18px;
		height: 18px;
		@include mixin.svg(#101010 url('/public/images/common/ico_photo.svg'));
	}

	// 리뷰 작성
	&write::before {
		width: 17px;
		height: 16px;
		@include mixin.svg(#101010 url('/public/images/common/ico_write.svg'));
	}

	// 토글
	&toggle {
		&:not([class*="#{function.escape('T=')}"])::before {
			width: 10px;
			height: 7px;
			@include mixin.svg(const.$color_text_base url('/public/images/common/ico_arrow_thick_round.svg'));
		}

		&#{function.escape('.T=round')}::before {
			width: 9px;
			height: 11px;
			@include mixin.svg(#5c5c5c url('/public/images/common/ico_arrow_round.svg'));
		}
	}

	// 시계
	&clock::before {
		width: 10px;
		height: 7px;
		@include mixin.svg(const.$color_text_base url('/public/images/common/ico_clock.svg'));
	}

	// 프린트
	&print::before {
		width: 15px;
		height: 16px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_print.svg'));
	}

	// 기획전 댓글
	&reply {
		&-complete::before {
			width: 9px;
			height: 10px;
			@include mixin.svg(var.$color_main url('/public/images/common/ico_check.svg'));
		}

		&-write::before {
			width: 9px;
			height: 9px;
			@include mixin.svg(#767676 url('/public/images/common/ico_pencil.svg'));
		}
	}

	// 주문결제 - 간편 계좌결제
	&payment {
		&-easy::before {
			width: 70px;
			height: 14px;
			@include mixin.background(url('/public/images/content/order_payment_easy.png') '100% 0' no-repeat);
		}
	}

	// 툴팁
	&tooltip::before {
		width: 13px;
		height: 16px;
		@include mixin.svg(#999 url('/public/images/common/ico_info.svg'));
	}

	&alert {
		&-triangle::before {
			width: 22px;
			height: 20px;
			@include mixin.svg(#888 url('/public/images/common/ico_alert.svg'));
		}
	}

	// 공동구매
	&coopbuy {
		&-arrow::before {
			width: 12px;
			height: 11px;
			@include mixin.svg(#767676 url('/public/images/common/ico_arrow_right_round.svg'));
		}
	}

	// 카테고리 depth
	&depth::before {
		width: 5px;
		height: 9px;
		@include mixin.svg(#101010 url('/public/images/common/ico_arrow_right.svg'));
	}
}
