@charset 'utf-8';

@use 'sass:math';
@use '../../assets/scss/common/helper/function' as *;
@use '../../assets/scss/common/helper/mixin';
@use '../../assets/scss/common/setting/const';
@use '../../assets/scss/style/setting/var';

/**
 * 라이브커머스(유료)
 * 쇼핑 LIVE
 */

/** 쇼핑 LIVE */
.m_live {
	> h2 {
		padding: 34px 0 22px;
		@include mixin.font('2.2rem' center);

		+ .mm_text-none {
			padding-top: 32px;
		}
	}

	&-visual {
		overflow: hidden;
		position: relative;
		padding-top: 133.2258%;
		border-radius: 6px;

		> * {
			position: absolute;
		}

		.image_banner {
			inset: 0;
		}

		video {
			top: 50%;
			left: 50%;
			width: 100%;
			opacity: 0;
			transform: translate(-50%, -50%);
			transition: opacity 2s ease;
		}

		#{escape('.image_banner.S=loaded')} {
			+ #{escape('video.S=loaded')} {
				opacity: 1;
			}
		}

		.text_tag {
			top: 8px;
			left: 8px;
			padding: 0 9px;
			height: 24px;
			border-radius: 12px;
			background-color: #fff;
			box-shadow: 0 3px 6px 0 rgba(#000, 0.16);
			@include mixin.font(const.$color_text_base 900 '1.4rem/2.4rem');

			&::after {
				display: inline-block;
				margin: 7px 0 0 6px;
				width: 10px;
				height: 10px;
				border-radius: 100%;
				background-color: #f53e21;
				content: '';
			}
		}

		.text_play {
			top: 11px;
			right: 12px;
			@include mixin.font(#fff '1.2rem/1.9rem');
		}

		.text_open {
			inset: 0;
			@include mixin.font(#fff '2rem/2.9rem' center);

			&::after {
				position: absolute;
				inset: 0;
				background-color: rgba(#000, 0.3);
				content: '';
			}

			strong {
				position: absolute;
				z-index: 1;
				top: 50%;
				right: 0;
				left: 0;
				transform: translateY(-50%);
			}

			span {
				display: block;
				@include mixin.font(700 '3rem');
			}
		}
	}

	figcaption {
		padding: 0 3px;

		.text_state {
			margin-top: 9px;
			@include mixin.font(700 '1.7rem/2.4rem');

			+.text_title {
				margin-top: 4px;
			}
		}

		.text_title {
			@include mixin.text-ellipsis(2);

			margin-top: 9px;
			height: 40px;
			@include mixin.font(#2b2b2b '1.4rem/2rem');
		}
	}

	ul {
		li {
			a {
				display: block;
			}
		}
	}

	.mm_text-none {
		padding: 40px 0 51px;
	}

	.mm_scroller {
		> ul {
			display: inline-block;
			padding: 0 14px;
			@include mixin.font('0', nowrap);

			> li {
				display: inline-block;
				white-space: normal;

				> a {
					display: block;
				}
			}
		}
	}

	// 방송중
	> .mm_scroller {
		ul {
			li {
				width: 310px;

				&:nth-child(n+2) {
					margin-left: 10px;
				}
			}
		}

		+ section {
			margin-top: 47px;
		}
	}

	> section {
		margin-top: 49px;

		.mm_title {
			padding-bottom: 10px;
		}

		// 방송예정
		> .mm_scroller {
			ul {
				li {
					position: relative;
					width: 320px;

					.m_live-visual {
						padding-top: 70.9375%;
						width: 53.125%;
					}

					figcaption {
						position: absolute;
						top: 0;
						right: 0;
						left: 0;
						margin-left: 53.125%;
						padding: 37px 20px 0 12px;

						.text_tag {
							padding: 0 4px;
							height: 19px;
							border: 1px solid #f53e21;
							border-radius: 3px;
							@include mixin.font(#f53e21 '1.2rem/1.8rem');
						}

						.text_state {
							margin-top: 4px;
							white-space: nowrap;

							+ .text_title {
								margin-top: 8px;
							}
						}
					}
				}
			}
		}

		// 방송종료
		> ul {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-gap: 22px 8px;
			padding: 0 14px;

			li {
				.m_live-visual {
					padding-top: 132.94117%;

					.text_tag {
						padding: 0 8px;
						background-color: rgba(#000, 0.45);
						box-shadow: none;
						@include mixin.font(#fff 500 '1.2rem');

						&::after {
							content: none;
						}

						.ico_like {
							margin: 7px 5px 0 0;

							&::before {
								width: 12px;
								height: 12px;
								background-color: #fff;
							}
						}
					}
				}

				figcaption {
					padding: 0;

					.text_title {
						margin-top: 8px;
					}
				}
			}

			// 스켈레톤
			&#{escape('.T=skeleton')} {
				li {
					.image_banner {
						padding-top: 132.94117%;
						width: 100%;
						border-radius: 6px;
						background-color: var.$skeleton_color_base;
					}

					.text_title {
						position: relative;
						margin: 8px 4px 0;
						height: 40px;
						font-size: 0;

						&::before,
						&::after {
							position: absolute;
							left: 0;
							width: 90%;
							height: 15px;
							background-color: var.$skeleton_color_base;
							content: '';
						}

						&::before {
							top: 0;
						}

						&::after {
							bottom: 0;
						}
					}
				}
			}
		}
	}
}

// *---------- 팝업 ----------*

/** 쇼핑 LIVE 상세 */
// TODO 팝업 노출되는 위치 파악해서 스타일 위치 변경 필요할 수도 있음 !
.m_popup-live {
	height: 100%;
}


// *---------- 모달 ----------*



// *---------- 레이어 ----------*