@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';
@use '../../style/setting/var';

/**
 * 약관
 */

/** 약관 */
.mm_policy {
	padding: 19px 14px 0;

	&-inner {
		@include mixin.font(#2b2b2b '1.3rem/1.9rem');

		article {
			h3 {
				@include mixin.font(v_700 '1.4rem/2.2rem');
			}

			table {
				margin: 7px 0 20px;

				thead {
					background-color: #eee;
				}

				th[scope='col'] {
					background-color: #eee;
					text-align: center;
				}

				th, td {
					padding: 7px 5px 5px;
					border: 1px solid #d5d5d5;
					text-align: left;
				}

				+ p {
					margin-top: -20px;
				}
			}

			> p + ul {
				margin-top: 10px;
			}

			ul + ul {
				margin-top: 5px;
			}

			+ article {
				margin-top: 19px;
			}
		}
	}

	&-info {
		margin-top: 24px;
		@include mixin.font('1.3rem/1.9rem');

		> ul {
			padding: 12px 13px 11px;
			background-color: #f5f5f5;

			li {
				&::before {
					margin-right: 3px;
					content: '-';
				}
			}
		}

		.mm_form-select {
			margin-top: 16px;
		}
	}
}


// *---------- 팝업 ----------*

/** 업체리스트 */
.m_popup-company {
	padding: 22px 14px 87px;

	table {
		@include mixin.font('1.3rem/1.7rem');

		border: 1px solid #d5d5d5;
		border-width: 1px 0 0 1px;

		thead {
			th {
				height: 32px;
				background-color: #eee;
			}
		}

		tbody {
			td:first-child {
				text-align: left;
			}
		}

		td,
		th {
			padding: 8px 14px;
			height: 32px;
			border: 1px solid #d5d5d5;
			border-width: 0 1px 1px 0;
		}
	}
}
