@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';
@use '../../style/setting/var';

/**
 * 로그인, 회원가입
 */

/** 공통 */
.m_popup-sign {
	padding: 33px 34px 0;

	&:not(.m_popup-renewal) {
		.mm_foot {
			margin-top: 18px;
		}
	}

	&-title {
		padding-bottom: 45px;
		text-align: center;

		h3 {
			@include mixin.font('2rem/2.7rem');
		}

		p {
			padding: 12px 0 48px;
			font-size: 1.5rem;
		}

		> b {
			display: block;
			padding-top: 9px;
			@include mixin.font(#6a6a6a '1.3rem/1.8rem');
		}
	}

	.m_popup-sign-title {
		~ .mm_foot {
			margin-top: 28px;
		}
	}
}

// sns 아이콘
[class*='m_popup-sign'] {
	i[class*='ico_sns-'] {
		width: 47px;
		height: 47px;
		border-radius: 100%;
		text-align: center;

		$sns: (naver, 16px, #2fac58), (kakao, 13px, #f1d200), (apple, 9px, #000);
		@each $type, $paddingTop, $bgColor in $sns {
			&.ico_sns-#{$type} {
				padding-top: $paddingTop;
				background-color: $bgColor;
			}
		}
	}
}

/** 로그인 */
.m_popup-login {
	.text_adult {
		display: block;
		padding: 3px 0 45px;
		text-align: center;

		b {
			display: block;
			margin-top: 11px;
			@include mixin.font('1.7rem/2.4rem');
		}
	}

	.mm_form-check {
		margin-top: 16px;
	}

	&-customer {
		display: block;
		margin: 13px 0 -2px;
		@include mixin.font(v_700 '1.5rem/2.1rem');

		b {
			display: inline;
			margin-right: 10px;

			strong {
				color: #f84f34;
			}
		}

		small {
			.ico_link {
				margin: 3px 0 0 1px;

				&::before {
					width: 4px;
					height: 12px;
					background-color: #101010;
				}
			}
		}
	}

	// 보안문자 입력
	&-security {
		> p {
			margin-top: 5px;
			@include mixin.font('1.2rem/1.7rem');
		}

		#{escape('.m...security-info')} {
			margin-top: 4px;
			padding: 14px 9px;
			border: 1px solid #cdcdcd;
			border-radius: 3px;
			background-color: #f5f5f5;
			font-size: 0;

			.image_security {
				width: 128px;
				height: 39px;
				text-align: center;

				img {
					height: 100%;
				}
			}

			.btn_refresh {
				margin: 5px 0 0 8px;

				.ico_reload {
					margin: 6px 4px 0 0;
				}
			}

			.mm_form-text {
				margin-top: 6px;
			}
		}
	}

	// 버튼영역
	.mm_foot {
		.mm_btn_box + .mm_btn_box {
			padding: 0 10px;
			@include mixin.font(#6a6a6a '1.3rem');

			a {
				position: relative;
				padding: 14px 0;

				&:nth-child(n+2) {
					margin: 0;
					padding-left: 1px;

					&::before {
						position: absolute;
						top: 50%;
						left: 0;
						margin-top: -6px;
						width: 1px;
						height: 9px;
						background-color: #eee;
						content: '';
					}
				}
			}
		}
	}

	// 간편로그인
	&-sns {
		margin-top: 42px;
		text-align: center;

		h6 {
			position: relative;
			font-size: 1.3rem;

			&::before {
				position: absolute;
				top: 50%;
				right: 0;
				left: 0;
				margin-top: -1px;
				border-top: 1px solid #cdcdcd;
				content: '';
			}

			b {
				position: relative;
				padding: 0 10px;
				background-color: #fff;
			}
		}

		ul {
			margin-top: 25px;

			li {
				display: inline-block;
				position: relative;

				&:nth-child(n+2) {
					margin-left: 14px;
				}

				> a {
					@include mixin.font(#6a6a6a '1.2rem/1.4');

					b {
						display: block;
						padding-top: 5px;
					}
				}

				.text_lately {
					position: absolute;
					bottom: -31px;
					left: 50%;
					padding: 0 9px;
					min-width: 70px;
					border-radius: 22px;
					background-color: #4a4a4a;
					@include mixin.font(#fff '1.2rem/2.2rem');

					transform: translateX(-50%);

					&::before {
						position: absolute;
						top: -5px;
						left: 50%;
						margin-left: -3px;
						@include mixin.triangle(#4a4a4a, top, 3px, 5px);

						content: '';
					}
				}
			}
		}
	}

	// 애플 ID 로그인 실패
	&-apple {
		height: 100%;
		@include mixin.font('0' center);

		&::before {
			margin-left: -1px;
			width: 1px;
			height: 100%;
			vertical-align: middle;
			content: '';
		}

		#{escape('.m...apple-inner')} {
			display: inline-block;
			padding: 50px 0;
			width: 100%;
			vertical-align: middle;

			> p {
				@include mixin.font('1.7rem/2.4rem');
			}

			.btn_link {
				margin-top: 18px;

				.ico_link {
					margin: 16px 0 0 7px;

					&::before {
						width: 5px;
						height: 9px;
						@include mixin.svg(#2b2b2b url('/public/images/common/ico_arrow_right.svg'));
					}
				}
			}
		}
	}
}

/** 비회원주문조회 */
.m_popup-sign-order {
	height: 99px;

	#{escape('.m...order-inner')} {
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding: 18px 30px 27px;
		border-top: 1px solid #eee;
	}

	.ico_cs {
		position: absolute;
		top: 50%;
		margin-top: -28px;
		padding: 15px 0 0 13px;
		width: 51px;
		height: 51px;
		border-radius: 100%;
		background-color: #f5f5f5;
	}

	p {
		padding-left: 64px;
		@include mixin.font(#2b2b2b '1.2rem/1.6rem', nowrap);

		strong {
			display: block;
			margin-bottom: 1px;
			@include mixin.font(var.$color_text_base v_600 '1.7rem/2rem');
		}
	}
}

/** 아이디/비밀번호 찾기 */
.m_popup-sign-find {
	padding: 0 34px;

	.m_popup-sign-title {
		padding: 33px 0 0;

		// 중복가입 안내에 사용되는 문구입니다
		> b {
			padding: 8px 0 2px;
			@include mixin.font('1.4rem/2rem');
		}
	}

	.mm_tab_menu {
		margin: 0 -34px;
		padding: 27px 40px 0;

		ul {
			height: 40px;

			li {
				a {
					font-size: 1.6rem;

					b::after {
						bottom: -1px;
					}
				}
			}
		}
	}

	// 아이디/비밀번호찾기 방식
	.mm_radio-list {
		margin: 38px 0 23px -7px;

		li {
			float: left;
			padding-left: 7px;
			width: 50%;
			height: 100px;

			&:nth-child(n+2) {
				margin-top: 0;
			}

			.mm_form-radio {
				padding: 0;
				width: 100%;
				height: 100%;

				:checked + .mm_block {
					border-color: var.$color_main;

					> i::before {
						background-color: var.$color_main;
					}

					.text_label {
						color: var.$color_main;
					}
				}
			}

			.mm_block {
				padding-top: 21px;
				height: 100%;
				border: 2px solid #dcdcdc;
				border-radius: 3px;
				text-align: center;

				.ico_email {
					padding: 7px 0 6px;
				}

				.ico_phone {
					padding: 0 0 8px;
				}

				.text_label {
					display: block;
					@include mixin.font(#4a4a4a '1.4rem');
				}
			}
		}
	}

	// 팝오버 유의사항
	#{escape('.m...find-popover')} {
		position: relative;
		margin-top: 28px;
		text-align: center;

		h6 {
			display: inline-block;
			@include mixin.font(#767676 '1.4rem/2.8rem');
		}

		.btn_help {
			margin-bottom: -1px;
			padding: 8px 4px;

			&#{escape('.S=switch-on')} {
				+ #{escape('.m...find-popover-item')} {
					display: block;
				}
			}
		}

		&-item {
			display: none;
			position: relative;
			margin: 0 auto;
			padding: 8px 12px 9px;
			width: 266px;
			border: 1px solid #888;
			border-radius: 3px;
			@include mixin.font(#2b2b2b '1.2rem/1.7rem' left);

			> div {
				margin-top: 7px;
				padding: 10px 9px 8px;
				background-color: #fafafa;
				text-align: center;

				strong {
					color: #f84f34;
				}

				+ * {
					margin-top: 5px;
				}
			}

			.btn_email {
				position: relative;
				margin-top: 5px;
				padding-bottom: 1px;
				color: var.$color_text_base;

				&::after {
					position: absolute;
					right: -1px;
					bottom: 3px;
					left: -1px;
					border-bottom: 1px solid var.$color_text_base;
					content: '';
				}
			}

			.btn_close {
				position: absolute;
				top: 1px;
				right: 1px;
				padding: 6px;
			}
		}
	}

	// 아이디/비밀번호찾기 완료
	#{escape('.m...find-')} {
		// 아이디목록 (중복가입 공통사용)
		&id {
			margin-top: 16px;

			li {
				position: relative;
				padding: 14px 16px;
				border: 1px solid #dcdcdc;

				&:nth-child(n+2) {
					margin-top: -1px;
				}

				i {
					position: absolute;
					width: 44px;
					height: 44px;
					text-align: center;

					&.ico_member {
						padding-top: 10px;
						border: 2px solid #101010;
						border-radius: 100%;
					}

					$sns: (naver, 15px, 16px, 15px), (kakao, 12px, 22px, 21px), (apple, null, 18px, 22px);
					@each $type, $paddingTop, $width, $height in $sns {
						&.ico_sns-#{$type} {
							padding-top: $paddingTop;

							&::before {
								width: $width;
								height: $height;
							}
						}
					}
				}

				p {
					padding-left: 56px;
					min-height: 44px;
					@include mixin.font('1.3rem/1.8rem');

					&::before {
						display: block;
						padding: 4px 0 1px;
						@include mixin.font(#6a6a6a '1.2rem');

						content: '아이디';
					}
				}
			}
		}

		// 본인인증
		&verify {
			margin-top: 28px;
			@include mixin.font('0' center);

			p {
				display: inline-block;
				padding: 1px 9px 0;
				@include mixin.font(#6a6a6a '1.4rem/2.4rem');
			}
		}
	}
}

/** 성인인증 */
.m_popup-sign-adult {
	> strong {
		display: block;
		padding-top: 3px;
		@include mixin.font('2rem' center);

		.ico_adult {
			display: block;
			margin: 0 auto 15px;
		}
	}

	> p {
		margin-top: 46px;
		@include mixin.font('1.3rem/2rem');

		strong {
			color: #e91b1b;
		}

		+ p {
			margin-top: 5px;
		}
	}

	+ .mm_btn_box {
		margin-top: 63px;
	}
}

/** 회원가입 */
.m_popup-join {
	padding: 34px 34px 0;

	&-title {
		position: relative;
		z-index: 1;
		@include mixin.font('1.7rem/2rem' center);

		b {
			margin-right: 12px;
			font-variation-settings: 'wght' 600;
		}

		// step 라인
		.image_line {
			display: block;
			overflow: hidden;
			position: relative;
			margin: 12px auto 0;
			width: 169px;
			height: 4px;
			border-radius: 4px;
			@include mixin.background(#eee linear-gradient(90deg, #eee 40px, #fff 3px) '/43px 4px' repeat-x);

			$steps: 1 2 3 4;
			@each $step in $steps {
				&#{escape('.T=step#{$step}')}::after {
					position: absolute;
					top: 0;
					left: 0;
					width: 43px * $step;
					height: 100%;
					@include mixin.background(#eee linear-gradient(90deg, var.$color_main 40px, #fff 3px) '/43px 4px' repeat-x);

					content: '';
				}
			}
		}

		+ div.mm_check_box {
			margin-top: 50px;
		}

		+ p.text_complete {
			margin-top: 91px;
		}
	}

	.m_popup-sign-title {
		padding-bottom: 41px;
	}

	> p {
		position: relative;
		padding-left: 9px;
		font-size: 2.2rem;

		strong {
			display: block;
			@include mixin.font('2.7rem/1');
		}

		span {
			display: block;
			color: #4a4a4a;
		}
	}

	.text_welcome {
		margin-top: 130px;
		line-height: 3rem;

		.ico_smile {
			position: absolute;
			top: -74px;
			left: 11px;
		}

		span {
			padding-top: 20px;
			font-variation-settings: 'wght' 400;
		}

		+ .mm_btn_box {
			margin-top: 42px;
		}
	}

	.text_complete {
		margin-top: 81px;
		line-height: 2.8rem;

		span {
			padding-top: 21px;
		}

		+ .mm_btn_box {
			margin-top: 47px;
		}
	}

	> .mm_note {
		padding-left: 13px;
	}

	.mm_radio-list {
		+ .mm_check_box {
			margin-top: 24px;
		}
	}

	.mm_check_box {
		margin-top: 2px;
	}

	.mm_process {
		margin-top: 47px;

		.mm_note {
			padding: 0 2px;
		}
	}

	+ .mm_note {
		padding: 0 37px;
	}

	// sns 회원가입
	&-sns {
		margin-top: 51px;
		text-align: center;

		h6 {
			position: relative;
			font-size: 1.3rem;

			&::before {
				position: absolute;
				top: 50%;
				right: 0;
				left: 0;
				margin-top: -1px;
				border-top: 1px solid #cdcdcd;
				content: '';
			}

			b {
				position: relative;
				padding: 0 10px;
				background-color: #fff;
			}
		}

		ul {
			margin-top: 25px;

			li {
				display: inline-block;
				position: relative;

				&:nth-child(n+2) {
					margin-left: 14px;
				}

				> a {
					@include mixin.font(#6a6a6a '1.2rem/1.4');

					b {
						display: block;
						padding-top: 5px;
					}

					i[class*='ico_sns-'] {
						width: 47px;
						height: 47px;
						border-radius: 100%;
						text-align: center;

						$sns: (naver, 16px, #2fac58), (kakao, 13px, #f1d200), (apple, 9px, #000);
						@each $type, $paddingTop, $bgColor in $sns {
							&.ico_sns-#{$type} {
								padding-top: $paddingTop;
								background-color: $bgColor;
							}
						}
					}
				}
			}
		}
	}
}

/** 리뉴얼 오픈 비밀번호 변경 */
.m_popup-renewal {
	.m_popup-sign-title {
		padding-bottom: 26px;

		> b {
			padding-top: 8px;
			@include mixin.font('1.4rem/2rem');
		}
	}

	> .mm_note {
		margin-top: 0;
		padding: 7px 20px 7px 10px;
		border: 1px solid #dcdcdc;
		border-radius: 3px;
		background-color: #fafafa;
		@include mixin.font(#4a4a4a '1.2rem/1.8rem');
	}

	.mm_foot {
		+ .mm_text-label {
			margin-top: 48px;
		}
	}
}


// *---------- 팝업 ----------*



// *---------- 모달 ----------*

/** 휴면회원 해제안내 */
.m_modal-login-quiescent {
	@include mixin.font(#6a6a6a '1.3rem/1.8rem' center);

	h3 {
		margin-top: -3px;
		padding-bottom: 11px;
		@include mixin.font(var.$color_text_base '1.7rem/2.3rem');
	}

	// 휴면회원 쿠폰
	#{escape('.m...quiescent-coupon')} {
		position: relative;
		margin-top: 21px;
		padding: 27px 0 4px;
		color: var.$color_text_base;

		&::before {
			position: absolute;
			top: 0;
			left: 50%;
			width: 80.87649%;
			border-top: 1px solid #eee;
			transform: translateX(-50%);
			content: '';
		}

		&::after {
			position: absolute;
			top: 68px;
			left: 50%;
			margin-left: 2px;
			width: 236px;
			height: 100px;
			transform: translateX(-50%);
			content: '';
			@include mixin.background(url('/public/images/content/quiescent_coupon_effect.png') '0/contain' no-repeat);
		}

		p {
			> span {
				display: inline-block;
				position: relative;
				margin-top: 2px;
				font-size: 1.5rem;

				&::after {
					position: absolute;
					z-index: -1;
					right: -1px;
					bottom: -1px;
					left: -1px;
					height: 8px;
					background-color: #fbef2c;
					content: '';
				}
			}
		}

		.mm_coupon {
			margin: 19px auto 0;
		}
	}

	.mm_btn_box {
		margin-top: 24px;

		.btn_link {
			.ico_link {
				margin: 15px 0 0 6px;

				&::before {
					background-color: #2b2b2b;
				}
			}
		}
	}
}

/** 회원가입 완료 혜택 */
.m_modal-join-benefit {
	.mm_modal-item-inner {
		#{escape('.mm_modal...content')} {
			.mm_scroller {
				padding: 49px 15px 36px;
				text-align: center;
			}
		}
	}

	h3 {
		@include mixin.font('1.7rem/2.3rem');
	}

	#{escape('.m...benefit-content')} {
		position: relative;
		padding-top: 14px;

		> p {
			@include mixin.font(#4a4a4a '1.3rem/1.8rem');
		}

		dl {
			padding: 51px 0;
			font-size: 1.2rem;

			&::before {
				position: absolute;
				z-index: 1;
				left: 50%;
				@include mixin.background('0/contain' no-repeat);

				content: '';
			}

			&::after {
				position: absolute;
				top: 72px;
				left: 50%;
				height: 75px;
				@include mixin.background('0/contain' no-repeat);

				content: '';
			}

			> * {
				position: relative;
				z-index: 1;
			}

			dd {
				margin-top: 3px;

				strong {
					@include mixin.font(v_700 '2rem');
				}
			}
		}

		// 적립금
		&-point {
			&::before {
				top: 76px;
				width: 130px;
				height: 90px;
				background-image: url('/public/images/content/joinfin_benefit_point.svg');
				transform: translateX(-50%);
			}

			&::after {
				width: 207px;
				background-image: url('/public/images/content/joinfin_benefit_point_bg.png');
				transform: translateX(-50%);
			}
		}

		// 쿠폰
		&-coupon {
			&::before {
				top: 78px;
				margin-left: -60px;
				width: 127px;
				height: 76px;
				background-image: url('/public/images/content/joinfin_benefit_coupon.svg');
			}

			&::after {
				margin-left: -103px;
				width: 214px;
				background-image: url('/public/images/content/joinfin_benefit_coupon_bg.png');
			}
		}
	}

	.mm_foot {
		margin-top: 6px;

		.btn_link {
			.ico_link {
				margin: 16px 0 0 9px;

				&::before {
					background-color: #fff;
				}
			}
		}
	}
}


// *---------- 레이어 ----------*
