@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';
@use '../../style/setting/var';

/**
 * 간편 로그인(유료)
 * 로그인, 회원가입, 마이페이지
 */

/** 페이코 아이콘 공통 */
.ico_sns-payco::before {
	width: 16px;
	height: 20px;
	@include mixin.svg(#fff url('/public/images/common/ico_payco_sm.svg'));
}

[class*='m_popup-sign'] {
	// sns 아이콘
	[class*='ico_sns-'] {
		&.ico_sns-payco {
			padding: 14px 0 0 4px;
			background-color: #e1292f;
		}
	}
}

/** 아이디찾기 완료 */
.m_popup-sign-find {
	#{escape('.m...find-id')} {
		li {
			i.ico_sns-payco {
				padding-top: 13px;
			}
		}
	}
}

/** 비밀번호 재입력 SNS */
.m_my-sns {
	[class*='ico_sns'] {
		&.ico_sns-payco {
			background-color: #e1292f;

			&::before {
				margin: 14px 0 0 4px;
			}
		}
	}
}
