@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';
@use '../../style/setting/var';

/**
 * 레이아웃
 * GNB, LNB, 카테고리메뉴, 브레드크럼, 페이지네이션
 */

/** gnb */
.mm_gnb {
	height: var.$gnb_height_base;

	// 내용이 화면 가로 사이즈보다 적을 때
	&#{escape('.S=flex')} {
		ul {
			display: flex;
		}

		li {
			flex: auto;
			min-width: 0;
		}
	}

	&-inner {
		position: fixed;
		z-index: const.$zindex_floating;
		top: -2px;// transition 될 때 위에 라인처럼 비어 보이는 이슈로 적용
		right: 0;
		left: 0;
		padding-top: 2px;// transition 될 때 위에 라인처럼 비어 보이는 이슈로 적용
		background-color: #fff;
		white-space: nowrap;
		transform: translateY(var.$header_height_main);
		transition: transform const.$time_fast;

		// 앱으로 보기 상단 배너 있을 때
		html#{escape('.L=main')}:not(#{escape('.S=hide')}) .m_main-app-view ~ .mm_page & {
			transform: translateY(calc(var.$header_height_main + 50px));
		}

		&::after {
			position: absolute;
			right: 0;
			bottom: 0;
			left: 0;
			border-bottom: 1px solid #e6e6e6;
			content: '';
		}

		// 스크롤 숨김 (헤더 hide 시)
		#{escape('.S=hide')} & {
			transform: translateY(0);
		}
	}

	ul {
		display: inline-block;
		padding: 0 4px;
		font-size: 0;
	}

	li {
		display: inline-block;
		height: var.$gnb_height_base;
		@include mixin.font(#2b2b2b '16px/#{math.div(var.$gnb_height_base, const.$font_size_base) * 1rem}' center, nowrap);

		> a {
			b {
				display: inline-block;
				position: relative;
				padding: 0 11px;
				font-variation-settings: 'wght' 600;
			}

			&#{escape('.S=gnb-on')} {
				b::after {
					position: absolute;
					z-index: 1;
					right: 5px;
					bottom: 0;
					left: 4px;
					border-bottom: 3px solid var.$color_main;
					content: '';
				}
			}
		}
	}
}

/** 페이지네이션 */
.mm_pagination {
	margin-top: 20px;
	text-align: center;

	.mm_inline {
		position: relative;
	}

	li {
		float: left;

		a {
			display: block;
			padding: 0 16px;
			height: var.$pagination_height_base;
			@include mixin.font(#b8b8b9 v_400 '17px/#{math.div(var.$pagination_height_base, const.$font_size_base) - 0.2rem}' center);

			&#{escape('.S=page-on')} {
				@include mixin.font(var.$color_main v_600)
			}
		}
	}

	[class^='btn_control'],
	[class*=' btn_control'] {
		position: absolute;
		top: 0;
		width: var.$pagination_height_base;
		height: var.$pagination_height_base;
		border: 1px solid #767676;
		border-radius: 2px;
		line-height: 0;

		// 처음
		&.btn_control-first {
			left: -(var.$pagination_height_base * 3 - 13px) - 7px;

			i::before {
				letter-spacing: -1px;
			}
		}

		// 이전
		&.btn_control-prev {
			left: -(var.$pagination_height_base * 2 - 13px);
		}

		// 다음
		&.btn_control-next {
			right: -(var.$pagination_height_base * 2 - 13px);
		}

		// 마지막
		&.btn_control-last {
			right: -(var.$pagination_height_base * 3 - 13px) - 7px;

			i::before {
				letter-spacing: -1px;
			}
		}

		&[disabled] {
			border-color: #dcdcdc;

			i::before {
				background-color: #cdcdcd;
			}
		}
	}
}
