@charset 'utf-8';

@use '../../common/helper/function';
@use '../../common/helper/mixin';
@use '../../common/setting/const';

/**
 * 컴포넌트
 * 섹션, 영역, 스크롤러, 라인, 싱커, 플렉스 등 기본 공통영역
 */

/** 숨김(vue에서 속성으로 제어) */
[data-hidden] {
	visibility: hidden;
}

[data-none] {
	display: none;
}

/** 기본형 */
// 블록
.mm_block,
.mui_block {
	display: block;
}

// 인라인블록
.mm_inline,
.mui_inline {
	display: inline-block;
}

// 왼쪽정렬
.mm_lside,
.mui_lside {
	float: left;
	@include mixin.clearfix;
}

// 오른쪽정렬
.mm_rside,
.mui_rside {
	float: right;
	@include mixin.clearfix;
}

// 영역채움
.mm_full,
.mui_full {
	display: block;
	position: absolute;
	inset: 0;
	width: auto;
	height: auto;
}

// 가변
.mm_fluid,
.mui_fluid {
	@include mixin.fluid-media(100%);// 56.25% 16:9
}

/** 스크롤러 */
.mm_scroller,
.mui_scroller {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;

	&#{function.escape('.T=x')} {
		overflow-x: auto;
		overflow-y: hidden;
		width: 100%;
		height: auto;
	}

	&#{function.escape('.T=xy')} {
		overflow: auto;
	}
}

/** 싱커(연결자) */
[class^='mm_syncer'],
[class*=' mm_syncer'],
[class^='mui_syncer'],
[class*=' mui_syncer'] {
	display: none;

	&[class$='-use'],
	&[class*='-use '] {
		display: block;
		@include mixin.context-unify(table) {
			display: table;
		}
		@include mixin.context-unify(tbody) {
			display: table-row-group;
		}
		@include mixin.context-unify(tr) {
			display: table-row;
		}
		@include mixin.context-unify(td) {
			display: table-cell;
		}
		@include mixin.context-unify(button) {
			display: inline-block;
		}
	}
}

/** 디싱커(연결자/반대속성) */
[class^='mm_desyncer'],
[class*=' mm_desyncer'],
[class^='mui_desyncer'],
[class*=' mui_desyncer'] {
	&[class$='-use'],
	&[class*='-use '] {
		display: none;
	}
}

/** 플렉스 (독립사용) */
.mm_flex,
.mui_flex {
	display: flex;

	// 플렉스 column
	&#{function.escape('.T=column')} {
		flex-direction: column;
		min-height: 100%;
	}

	// 플렉스 자식요소 사이즈 비율
	&#{function.escape('.T=equal')} {
		> * {
			flex: 1;
			width: auto;
			min-width: 0;
			height: 100%;

			> a,
			> button {
				display: block;
				width: 100%;
				text-align: center;

				&:not(.mm_btn),
				&:not(.mui_btn) {
					height: 100%;
				}
			}
		}
	}

	// 플렉스 자식요소 사이즈 자동
	&#{function.escape('.T=auto')} {
		> * {
			flex: auto;
			width: auto;
			min-width: 0;
			height: 100%;

			> a,
			> button {
				display: block;
				text-align: center;

				&:not(.mm_btn),
				&:not(.mui_btn) {
					height: 100%;
				}
			}
		}
	}

	/** 플렉스 자식요소 */
	// 사이즈 비율
	&-equal {
		flex: 1;
		min-width: 0;
	}

	// 사이즈 자동
	&-auto {
		flex: auto;
		min-width: 0;
	}
}

/** 블록 컨테이너 */
.mm_mui {
	display: flex;
	justify-content: center;

	> * {
		width: auto;
		height: 100%;

		> a,
		> button {
			display: block;

			// text-align: center;

			&:not(.mui_btn) {
				height: 100%;
			}
		}
	}

	// w0
	&#{function.escape('.T=full')} {
		> [data-mui] {
			width: 100%;

			.mui_title {
				margin: 0 auto;
				width: const.$grid_pc_column * 12 + const.$grid_pc_column_gutter * (12 - 1);
			}
		}
	}

	// 조합형
	> [data-mui] + [data-mui] {
		margin-left: const.$grid_pc_column_gutter;
	}

	+ .mm_mui {
		margin-top: const.$container_pc_gutter;
	}
}
