@charset 'utf-8';

@use '../../common/helper/function';
@use '../../common/helper/mixin';

/**
* 컴포넌트
* 드롭다운/아코디언
* 캐러셀
 */

/** 드롭다운 */
.mm_dropdown,
.mui_dropdown {
	position: relative;

	.btn_dropdown {
		position: relative;
		width: 100%;

		[class*='ico_dropdown'] {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%);

			&::before {
				transform: scaleY(-1);
			}
		}

		// 드롭다운 열림
		@include mixin.context-first('#{function.escape('.S=on')}') {
			[class*='ico_dropdown'] {
				&::before {
					transform: scaleY(1);
				}
			}
		}
	}

	&-item {
		overflow: hidden;
		height: 0;
		opacity: 0;
		pointer-events: none;

		// 드롭다운 열림
		#{function.escape('.S=on')} & {
			opacity: 1;
			pointer-events: auto;
		}

		&-inner {
			position: relative;
		}
	}
}

/** 탭컨텐츠 */
.mm_tab,
.mui_tab {
	&-item {
		display: none;

		// 탭 선택
		&#{function.escape('.S=tab-on')} {
			display: block;
		}
	}
}

/** 캐러셀 */
.mm_carousel,
.mui_carousel {
	position: relative;

	&-inner {
		overflow: hidden;
	}

	&-list {
		position: relative;
	}

	&-item {
		position: absolute;
		top: 0;
		width: 100%;

		&#{function.escape('.S=on')} {
			z-index: 1;
		}

		> a {
			display: block;
		}
	}

	// 이전, 다음
	&-control {
		position: absolute;
		z-index: 2;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);

		.btn_carousel-prev,
		.btn_carousel-next {
			position: absolute;
			z-index: 2;
			top: 50%;
			transform: translateY(-50%);

			// &[disabled] {
			// 	opacity: 0.25;
			// }
		}

		.btn_carousel-prev {
			left: 0;
		}

		.btn_carousel-next {
			right: 0;
		}
	}

	// 페이지네이션
	&-pagination {
		position: absolute;
		z-index: 2;
		bottom: 0;
		left: 50%;
		@include mixin.font('0', nowrap);

		transform: translateX(-50%);

		li {
			display: inline-block;
		}
	}

	// 페이저
	&-count {
		position: absolute;
		z-index: 2;

		.text_carousel-index {
			///
		}

		> i {
			margin: 0 4px;
			opacity: 0.3;
		}

		.text_carousel-total {
			opacity: 0.3;
		}
	}
}
