@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/helper/extend';
@use '../../common/setting/const';
@use '../../style/setting/var';

/**
 * 컴포넌트
 * 이미지, 백그라운드, 아이콘 등 이미지의 기본 단위
 */

/** 기본형 */
.mm_image {
	// 이미지 없음
	&-none {
		position: relative;

		.ico_none::before {
			position: absolute;
			top: 50%;
			left: 50%;
			width: 52%;
			height: 100%;
			transform: translate(-50%, -50%);
			@include mixin.svg(#d1d0d0 url('/public/images/common/logo.svg'));
		}

		// 배너 이미지 없음 처리
		&.image_banner {
			width: 100%;
			height: 104px;
			background-color: #f5f5f5;

			.ico_none {
				display: none;
			}

			&::after {
				position: absolute;
				top: 50%;
				right: 8px;
				left: 8px;
				@include mixin.font(#a3a3a3 '1.2rem/1.7rem' center);

				transform: translateY(-50%);
				content: attr(data-ir);
			}
		}
	}
}

/** 이미지 종류 */
.image_ {
	// 상품
	&product {
		background-color: #f8f8f8;
	}

	// 배너
	&banner {
		background-color: #f8f8f8;
	}

	// 브랜드
	&brand {
		overflow: hidden;
		position: relative;
		padding-top: 120%;
		width: 100%;
		background-color: #f2f2f2;
		text-align: center;

		&#{escape('.S=error')}::before {
			position: absolute;
			top: 50%;
			right: 8px;
			left: 8px;
			transform: translateY(-50%);
			content: attr(title);
			@include mixin.font(#a3a3a3 '1.2rem/1.6rem' center, normal);
		}
	}
}

/** 아이콘 */
.ico_ {
	// 폼
	&form {
		// 체크박스
		&-check {
			position: relative;
			width: var.$form_check_height_base;
			height: var.$form_check_height_base;
			border: 1px solid #b8b8b9;
			border-radius: var.$form_border_radius_base;
			background-color: #fff;

			&::before {
				width: 14px;
				height: 20px;
				@include mixin.svg(#cdcdcd url('/public/images/common/ico_check.svg'));
			}
		}

		// 라디오
		&-radio#{escape('.T=circle')}::before {
			width: 21px;
			height: 21px;
			@include mixin.svg(#cdcdcd url('/public/images/common/ico_check_circle.svg'));
		}

		// 셀렉트
		&-select {
			&:not([class*="#{escape('T=')}"])::before {
				width: 12px;
				height: 7px;
				@include mixin.svg(#767676 url('/public/images/common/ico_arrow_thick_round.svg'));

				transform: rotate(180deg);
			}

			&#{escape('.T=sm')}::before {
				width: 10px;
				height: 6px;
				@include mixin.svg(#4a4a4a url('/public/images/common/ico_arrow_sm.svg'));
			}
		}

		// 삭제
		&-clear::before {
			width: 16px;
			height: 16px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_close_circle.svg'));
		}
	}

	// 팝업
	&popup {
		&-close {
			&::before {
				width: 17px;
				height: 17px;
				@include mixin.svg(#4a4a4a url('/public/images/common/ico_close.svg'));
			}

			&#{escape('.T=thin')}::before {
				width: 32px;
				height: 32px;
				@include mixin.svg(#fff url('/public/images/common/ico_close_thin.svg'));
			}
		}
	}

	// 모달
	&modal {
		&-close::before {
			width: 17px;
			height: 17px;
			@include mixin.svg(#4a4a4a url('/public/images/common/ico_close.svg'));
		}
	}

	// 히스토리
	&history {
		&-back::before {
			width: 10px;
			height: 21px;
			@include mixin.svg(#4a4a4a url('/public/images/common/ico_arrow_left.svg'));
		}
	}

	// 로딩
	&loading::before {
		width: 25px;
		height: 25px;
		@include mixin.svg(var.$color_main url('/public/images/common/ico_loading.svg'));
	}

	// bom
	&bom {
		&-alert::before {
			width: 24px;
			height: 22px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_alert.svg'));
		}
	}

	// 페이지네이션
	&page {
		&-first::before {
			width: 10px;
			height: 11px;
			@include mixin.svg(#767676 url('/public/images/common/ico_arrow_double.svg'));
		}

		&-prev::before {
			width: 6px;
			height: 12px;
			@include mixin.svg(#767676 url('/public/images/common/ico_arrow_left.svg'));
		}

		&-next::before {
			width: 6px;
			height: 12px;
			@include mixin.svg(#767676 url('/public/images/common/ico_arrow_right.svg'));
		}

		&-last::before {
			width: 10px;
			height: 11px;
			@include mixin.svg(#767676 url('/public/images/common/ico_arrow_double.svg'));

			transform: rotate(180deg);
		}
	}

	// 쿠폰
	&coupon {
		&-download {
			&:not([class*="#{escape('T=')}"])::before {
				@include mixin.svg(#fff url('/public/images/common/ico_download.svg'));
			}

			&#{escape('.T=circle')}::before {
				width: 16px;
				height: 16px;
				@include mixin.svg(#fff url('/public/images/common/ico_arrow_tail_circle.svg'));
			}
		}

		&-complete::before {
			width: 14px;
			height: 12px;
			@include mixin.svg(#fff url('/public/images/common/ico_check_sharp.svg'));
		}
	}

	// 멀티이미지
	&image {
		&-remove::before {
			width: 12px;
			height: 12px;
			@include mixin.svg(#cdcdcd url('/public/images/common/ico_close.svg'));
		}
	}

	// 드롭다운
	&dropdown {
		&:not([class*="#{escape('T=')}"])::before {
			width: 12px;
			height: 14px;
			@include mixin.svg(#888 url('/public/images/common/ico_arrow_round_bottom.svg'));
		}

		&#{escape('.T=sm')}::before {
			width: 5px;
			height: 5px;
			@include mixin.svg(#767676 url('/public/images/common/ico_triangle.svg'));
		}

		&#{escape('.T=bold')}::before {
			width: 12px;
			height: 20px;
			@include mixin.svg(#767676 url('/public/images/common/ico_arrow_thick_round_bottom.svg'));
		}

		&#{escape('.T=box')}::before {
			width: 15px;
			height: 15px;
			@include mixin.svg(var.$color_text_base url('/public/images/common/ico_arrow_box_bottom.svg'));
		}

		&#{escape('.T=cross')}::before {
			width: 10px;
			height: 18px;
			@include mixin.svg(#aeaeae url('/public/images/common/ico_plus_thick.svg'));
		}
	}

	// 내용없음
	&text-none {
		display: block;
		position: relative;
		margin: 0 auto 14px;
		width: 50px;
		height: 50px;
		border: 2px solid #e6e6e6;
		border-radius: 100%;
		background-color: #fff;

		&::before,
		&::after {
			position: absolute;
			top: 10px;
			left: 50%;
			width: 3px;
			height: 18px;
			background-color: #e6e6e6;
			transform: translateX(-50%);
			content: '';
		}

		&::after {
			top: auto;
			bottom: 10px;
			width: 5px;
			height: 5px;
			border-radius: 100%;
		}
	}

	// 유의사항
	&info::before {
		width: 14px;
		height: 14px;
		@include mixin.svg(#888 url('/public/images/common/ico_info.svg'));
	}

	// 검색
	&search::before {
		width: 11px;
		height: 12px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_search_thin.svg'));
	}

	// 장바구니
	&cart::before {
		width: 25px;
		height: 24px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_cart.svg'));
	}

	&pushcart::before {
		width: 25px;
		height: 21px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_pushcart.svg'));
	}

	// 홈
	&home::before {
		width: 16px;
		height: 17px;
		@include mixin.svg(var.$color_text_base url('/public/images/common/ico_home.svg'));
	}

	&home-full::before {
		width: 20px;
		height: 20px;
		@include mixin.svg(var.$color_text_base url('/public/images/common/ico_home_full.svg'));
	}

	// 카테고리
	&menu::before {
		width: 18px;
		height: 15px;
		@include mixin.svg(var.$color_text_base url('/public/images/common/ico_menu.svg'));
	}

	// 마이페이지
	&mypage::before {
		width: 16px;
		height: 17px;
		@include mixin.svg(var.$color_text_base url('/public/images/common/ico_member.svg'));
	}

	// 최근본상품
	&lately::before {
		width: 17px;
		height: 17px;
		@include mixin.svg(var.$color_text_base url('/public/images/common/ico_lately.svg'));
	}

	// 최상단
	&topmost::before {
		width: 7px;
		height: 8px;
		@include mixin.svg(#fff url('/public/images/common/ico_arrow_round_top.svg'));
	}

	// 비밀번호
	&pw {
		&-hide::before {
			width: 23px;
			height: 14px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_hide.svg'));
		}

		&-show::before {
			width: 23px;
			height: 19px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_show.svg'));
		}
	}

	// 좋아요
	&like {
		&::before {
			width: 16px;
			height: 16px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_heart.svg'));
		}

		&-fill::before {
			@include mixin.svg(#aeaeae url('/public/images/common/ico_heart_fill.svg'));
		}

		&-brand::before {
			width: 17px;
			height: 18px;
			@include mixin.svg(#767676 url('/public/images/common/ico_shop_like.svg'));
		}
	}

	// 별
	&star {
		&::before {
			@include mixin.svg(#888 url('/public/images/common/ico_star.svg'));
		}

		&-fill::before {
			@include mixin.svg(#f2953a url('/public/images/common/ico_star_fill.svg'));
		}
	}

	// 리뷰
	&review {
		&::before {
			width: 9px;
			height: 9px;
			@include mixin.svg(#888 url('/public/images/common/ico_review.svg'));
		}

		&-write::before {
			width: 13px;
			height: 17px;
			@include mixin.svg(var.$color_main url('/public/images/common/ico_review_write.svg'));
		}

		&-photo::before {
			width: 15px;
			height: 15px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_review_photo.svg'));
		}
	}

	// 카테고리
	&category::before {
		width: 12px;
		height: 15px;
		@include mixin.svg(#767676 url('/public/images/common/ico_arrow_thick_round_bottom.svg'));
	}

	// 링크
	&link {
		&:not([class*="#{escape('T=')}"])::before {
			width: 5px;
			height: 11px;
			@include mixin.svg(#888 url('/public/images/common/ico_arrow_right.svg'));
		}

		&#{escape('.T=sm')}::before {
			@include mixin.svg(#888 url('/public/images/common/ico_arrow_sm_right.svg'));
		}

		&#{escape('.T=xs')}::before {
			@include mixin.svg(#888 url('/public/images/common/ico_arrow_round_sm_right.svg'));
		}

		&#{escape('.T=bold')}::before {
			@include mixin.svg(#888 url('/public/images/common/ico_arrow_round_bold_right.svg'));
		}

		&-circle::before {
			width: 10px;
			height: 10px;
			@include mixin.svg(#888 url('/public/images/common/ico_link_circle.svg'));
		}

		&-arrow::before {
			width: 16px;
			height: 16px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_link_arrow.svg'));
		}
	}

	// 상품배열
	&array {
		&#{escape('.T=wide')}::before {
			width: 11px;
			height: 11px;
			@include mixin.svg(#888 url('/public/images/common/ico_array_wide.svg'));
		}

		&#{escape('.T=card')}::before {
			width: 11px;
			height: 11px;
			@include mixin.svg(#888 url('/public/images/common/ico_array_card.svg'));
		}
	}

	// 필터
	&filter::before {
		width: 11px;
		height: 13px;
		@include mixin.svg(#767676 url('/public/images/common/ico_filter.svg'));
	}

	// 배송
	&ship::before {
		width: 16px;
		height: 12px;
		@include mixin.svg(#888 url('/public/images/common/ico_ship.svg'));
	}

	// 매장
	&shop::before {
		width: 14px;
		height: 15px;
		@include mixin.svg(#888 url('/public/images/common/ico_shop.svg'));
	}

	// 새로고침
	&reload::before {
		width: 12px;
		height: 12px;
		@include mixin.svg(#767676 url('/public/images/common/ico_refresh.svg'));
	}

	// 미성년자
	&adult {
		width: 46px;
		height: 46px;
		border: 4px solid #e91b1b;
		border-radius: 100%;
		background-color: #fff;
		text-align: center;

		&::before {
			@include mixin.font(v_700 '2.6rem/3.8rem');

			content: '19' !important;
		}

		&#{escape('.T=lg')} {
			width: 56px;
			height: 56px;

			&::before {
				@include mixin.font('3.5rem/4.8rem');
			}
		}
	}

	// 고객센터
	&cs {
		&::before {
			width: 25px;
			height: 21px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_cs.svg'));
		}

		// 메인
		$icons: inquiry, answer, order, coupon;
		@each $icon in $icons {
			&-#{$icon} {
				&::before {
					width: 31px;
					height: 22px;
					@include mixin.background(url('/public/images/content/ico_cs_#{$icon}.svg') '50% 50%' no-repeat);
				}
			}
		}
	}

	// 이메일
	&email::before {
		width: 24px;
		height: 18px;
		@include mixin.svg(#b8b8b9 url('/public/images/common/ico_email.svg'));
	}

	// 휴대폰
	&phone {
		&::before {
			width: 16px;
			height: 24px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_phone.svg'));
		}

		&#{escape('.T=bold')}::before {
			width: 13px;
			height: 20px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_phone_bold.svg'));
		}
	}

	&login {
		// 유의사항
		&-help::before {
			width: 13px;
			height: 13px;
			@include mixin.svg(#888 url('/public/images/common/ico_help.svg'));
		}
	}

	// 회원
	&member::before {
		width: 18px;
		height: 19px;
		@include mixin.svg(#101010 url('/public/images/common/ico_member.svg'));
	}

	// sns
	&sns {
		&-naver::before {
			width: 17px;
			height: 16px;
			@include mixin.svg(#fff url('/public/images/common/ico_naver.svg'));
		}

		&-kakao::before {
			width: 22px;
			height: 21px;
			@include mixin.svg(#fff url('/public/images/common/ico_kakao.svg'));
		}

		&-apple::before {
			width: 19px;
			height: 24px;
			@include mixin.svg(#fff url('/public/images/common/ico_apple.svg'));
		}

		&-close::before {
			width: 21px;
			height: 21px;
			@include mixin.svg(#fff url('/public/images/common/ico_close.svg'));
		}

		&-instagram::before {
			width: 26px;
			height: 26px;
			@include mixin.background(url('/public/images/common/ico_sns_instagram.png') '0 0/cover' no-repeat);
		}

		&-facebook::before {
			width: 26px;
			height: 26px;
			@include mixin.background(url('/public/images/common/ico_sns_facebook.png') '0 0/cover' no-repeat);
		}

		&-blog::before {
			width: 26px;
			height: 26px;
			@include mixin.background(url('/public/images/common/ico_sns_blog.png') '0 0/cover' no-repeat);
		}

		&-youtube::before {
			width: 26px;
			height: 26px;
			@include mixin.background(url('/public/images/common/ico_sns_youtube.png') '0 0/cover' no-repeat);
		}
	}

	// 회원가입
	&smile::before {
		width: 60px;
		height: 60px;
		@include mixin.svg(#eee url('/public/images/common/ico_smile.svg'));
	}

	// 추가
	&add::before {
		width: 12px;
		height: 20px;
		@include mixin.svg(#fff url('/public/images/common/ico_plus_thick.svg'));
	}

	// 토글
	&toggle::before {
		width: 10px;
		height: 11px;
		@include mixin.svg(#5c5c5c url('/public/images/common/ico_arrow_bottom.svg'));
	}

	// 삭제
	&remove {
		&::before {
			width: 15px;
			height: 15px;
			@include mixin.svg(#aeaeae url('/public/images/common/ico_close.svg'));
		}

		&-trash::before {
			width: 12px;
			height: 15px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_trash.svg'));
		}
	}

	// 설정
	&setup::before {
		width: 17px;
		height: 20px;
		@include mixin.svg(#aeaeae url('/public/images/common/ico_set.svg'));
	}

	// 사이즈가이드
	&size::before {
		width: 15px;
		height: 12px;
		@include mixin.svg(#4a4a4a url('/public/images/common/ico_size.svg'));
	}

	// 팝업오버
	&popover {
		&-close::before {
			width: 11px;
			height: 11px;
			@include mixin.svg(var.$color_text_base url('/public/images/common/ico_close.svg'));
		}
	}

	// 순서변경
	&sortable {
		&::before {
			width: 10px;
			height: 11px;
			@include mixin.svg(#767676 url('/public/images/common/ico_sortable.svg'));
		}

		&-handle::before {
			width: 8px;
			height: 19px;
			@include mixin.svg(#aeaeae url('/public/images/common/ico_sortable_handle.svg'));
		}
	}

	// 편집
	&modify::before {
		width: 10px;
		height: 12px;
		@include mixin.svg(#767676 url('/public/images/common/ico_modify.svg'));
	}

	// 공유하기
	&share::before {
		width: 13px;
		height: 14px;
		@include mixin.svg(#000 url('/public/images/common/ico_share.svg'));
	}

	// 더보기
	&more {
		&::before {
			width: 9px;
			height: 5px;
			@include mixin.svg(#5c5c5c url('/public/images/common/ico_arrow_bottom.svg'));
		}

		&-load::before {
			width: 13px;
			height: 13px;
			@include mixin.svg(#2b2b2b url('/public/images/common/ico_refresh.svg'));

			transform: scaleX(-1);
		}
	}

	// 유의사항
	&help {
		&-fill::before {
			width: 12px;
			height: 14px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_help_fill.svg'));
		}

		&-guide::before {
			width: 15px;
			height: 15px;
			@include mixin.svg(#6a6a6a url('/public/images/common/ico_help.svg'));
		}
	}

	// 유의사항
	&zoom::before {
		width: 12px;
		height: 12px;
		@include mixin.svg(var.$color_text_base url('/public/images/common/ico_zoom.svg'));
	}

	// 유의사항
	&toast::before {
		width: 10px;
		height: 11px;
		@include mixin.svg(var.$color_text_base url('/public/images/common/ico_arrow_round_bottom.svg'));
	}

	// 옵션
	&option {
		// 옵션 삭제
		&-remove::before {
			width: 24px;
			height: 24px;
			@include mixin.svg(#b8b8b9 url('/public/images/common/ico_close_circle.svg'));
		}
	}

	// 비밀글
	&secret::before {
		width: 9px;
		height: 12px;
		@include mixin.svg(#767676 url('/public/images/common/ico_lock.svg'));
	}

	// 스위치 (사이드바)
	&switch::before {
		width: 12px;
		height: 13px;
		@include mixin.svg(#767676 url('/public/images/common/ico_switch.svg'));
	}

	// 순위
	&rank {
		&-up::before {
			width: 7px;
			height: 6px;
			@include mixin.svg(#ee6439 url('/public/images/common/ico_triangle.svg'));

			transform: translateX(-50%);
		}

		&-down::before {
			width: 7px;
			height: 6px;
			@include mixin.svg(#645ffc url('/public/images/common/ico_triangle.svg'));
		}

		&-unchanged::before {
			width: 7px;
			height: 4px;
			@include mixin.svg(#888 url('/public/images/common/ico_minus.svg'));
		}

		&-new[title]::before  {
			@include mixin.font(var.$color_text_base v_700 '1.3rem');

			content: 'new'
		}
	}

	// 툴팁
	&tooltip {
		&::before {
			width: 12px;
			height: 12px;
			@include mixin.svg(#8c8c8c url('/public/images/common/ico_info.svg'));
		}

		// 닫기
		&-close::before {
			width: 11px;
			height: 11px;
			@include mixin.svg(#2b2b2b url('/public/images/common/ico_close.svg'));
		}
	}

	// 시간
	&clock::before {
		width: 15px;
		height: 14px;
		@include mixin.svg(#888 url('/public/images/common/ico_clock.svg'));
	}

	// 알림
	&alarm::before {
		width: 12px;
		height: 12px;
		@include mixin.svg(#101010 url('/public/images/common/ico_alarm.svg'));
	}

	// 유의사항
	&alert {
		&-triangle::before {
			width: 14px;
			height: 13px;
			@include mixin.svg(#888 url('/public/images/common/ico_alert.svg'));
		}
	}

	// 닫기
	&close {
		&::before {
			width: 11px;
			height: 11px;
			@include mixin.svg(#101010 url('/public/images/common/ico_close.svg'));
		}

		&#{escape('.T=thin')}::before {
			width: 22px;
			height: 22px;
			@include mixin.svg(#fff url('/public/images/common/ico_close_thin.svg'));
		}
	}

	// 체험단
	&experience::before {
		width: 9px;
		height: 11px;
		@include mixin.svg(#fff url('/public/images/common/ico_experience.svg'));
	}

	// 컨트롤러
	&control {
		&-prev::before {
			width: 18px;
			height: 33px;
			@include mixin.svg(#101010 url('/public/images/common/ico_arrow_left_thin.svg'));
		}

		&-next::before {
			width: 18px;
			height: 33px;
			@include mixin.svg(#101010 url('/public/images/common/ico_arrow_right_thin.svg'));
		}
	}

	// 주문결제 - 간편 계좌결제
	&payment {
		&-easy::before {
			width: 66px;
			height: 13px;
			@include mixin.background(url('/public/images/content/order_payment_easy.png') '0 0/auto 26px' no-repeat);
		}
	}

	// 카테고리 뎁스
	&depth::before {
		width: 5px;
		height: 11px;
		@include mixin.svg(#101010 url('/public/images/common/ico_arrow_right.svg'));
	}

	// 알림
	&noti::before {
		width: 18px;
		height: 18px;
		@include mixin.svg(#101010 url('/public/images/common/ico_loudspeaker.svg'));
	}

	// 전화
	&call::before {
		width: 16px;
		height: 20px;
		@include mixin.svg(#101010 url('/public/images/common/ico_call.svg'));
	}

	// 포토
	&photo::before {
		width: 18px;
		height: 17px;
		@include mixin.svg(#101010 url('/public/images/common/ico_image.svg'));
	}

	// 랭킹
	&ranking {
		// 랭킹 메인
		&-home::before {
			width: 14px;
			height: 16px;
			@include mixin.svg(#888 url('/public/images/common/ico_shop.svg'));
		}
	}
}