@charset 'utf-8';

@use 'sass:math';
@use '../../common/helper/function' as *;
@use '../../common/helper/mixin';
@use '../../common/setting/const';
@use '../../style/setting/var';

/**
 * 컴포넌트
 * 로딩, 찜하기, 별점
 * 드롭다운/아코디언, 탭메뉴, 스와이퍼, 핀치줌, 에디터
 * 컨텐츠
 * 팝오버, 툴팁, 토스트팝업
 */

/** 드롭다운 */
.mm_dropdown {
	font-size: 1.4rem;

	// 드롭다운 열림
	&#{escape('.S=on')} {
		.btn_dropdown {
			.ico_dropdown {
				&:not([class*="#{escape('T=')}"])::before {
					@include mixin.svg(#101010 url('/public/images/common/ico_arrow_round_top.svg'));
				}

				&#{escape('.T=box')}::before {
					@include mixin.svg(url('/public/images/common/ico_arrow_box_top.svg'));
				}
			}
		}

		.mm_dropdown-item {
			transition: opacity 0s;
		}
	}

	&-item {
		transition: opacity 0s const.$time_fast;
	}

	// 주문형
	&#{escape('.T=order')} {
		.btn_dropdown {
			padding: 17px 48px 15px 13px;
			@include mixin.font('1.5rem' left);

			.text_contraction {
				@include mixin.text-ellipsis(1);

				position: absolute;
				top: 50%;
				right: 50px;
				width: 50.66666%;
				height: auto;
				transform: translateY(-50%);
				@include mixin.font('1.3rem' right);

				.text_price,
				.text_point {
					@include mixin.font('1.3rem/2.4rem');

					strong {
						font-size: 1.7rem;
					}

					strong::after {
						font-size: 1.3rem;
					}
				}

				.text_point > strong {
					vertical-align: -1px;
				}
			}

			.ico_dropdown {
				right: 24px;
				margin-top: 2px;

				&::before {
					background-color: var.$color_text_base;
				}
			}
		}

		.mm_dropdown-item-inner {
			padding-top: 20px;
			padding-bottom: 20px;
			border-top: 1px solid #eee;
		}

		&#{escape('.S=on')} {
			.text_contraction:not(#{escape('.S=text-on')}) {
				display: none;
			}
		}
	}
}

/** 아코디언 (드롭다운 포함) */
.mm_accordion {
	> ul {
		> li {
			border-bottom: 1px solid #eee;
			@include mixin.font(#2b2b2b '1.4rem/1.9rem');
		}
	}

	.btn_dropdown {
		> p {
			display: inline-block;
			position: relative;
			margin-right: 45px;
			padding: 12px 0 10px 14px;
		}

		.ico_dropdown {
			right: 20px;
		}

		.text_important {
			position: absolute;
			top: 50%;
			right: 0;
			margin-top: -9px;
			padding: 0 9px;
			height: 20px;
			border: 1px solid var.$color_variable;
			border-radius: 10px;
			@include mixin.font(var.$color_variable '1.2rem/1.8rem');

			+ b {
				padding-right: 50px;
			}
		}
	}

	.mm_dropdown-item-inner {
		padding: 16px;
		border-top: 1px solid #eee;
		background-color: #f5f5f5;
		color: #5c5c5c;
	}
}

/** 탭메뉴 */
.mm_tab_menu {
	border-bottom: 1px solid #e6e6e6;

	> ul {
		height: 41px;

		> li {
			> a,
			.btn_tab {
				@include mixin.font(#888 '1.4rem/4rem');

				b {
					position: relative;
					line-height: 4rem;
				}

				&#{escape('.S=tab-on')} {
					color: var.$color_text_base;

					b::after {
						position: absolute;
						right: 0;
						bottom: -2px;
						left: 0;
						border-bottom: 3px solid #101010;
						content: '';
					}
				}
			}
		}

		// 탭메뉴 float
		&:not(.mm_flex) {
			> li {
				float: left;

				> a,
				.btn_tab {
					display: block;
					width: 150px;
					height: 42px;
					text-align: center;

					// 가로 폭 자동
					@include mixin.context-first('#{escape('.T=auto')}') {
						padding: 0 30px;
						width: auto;
					}
				}
			}
		}
	}

	&#{escape('.T=full')} {
		#{escape('.S=tab-on')} {
			position: relative;

			&::after {
				position: absolute;
				right: 0;
				bottom: -1px;
				left: 0;
				border-bottom: 3px solid #101010;
				content: '';
			}

			b::after {
				display: none;
			}
		}
	}

	&#{escape('.T=scroll')} {
		border-bottom: 0;

		.mm_scroller {
			&-inner {
				padding: 0 21px;
			}

			&-item {
				padding: 0 10px;
			}
		}

		ul {
			display: inline-block;
			padding: 0 14px;
			@include mixin.font('0', nowrap);

			li {
				display: inline-block;
				height: 40px;

				&:nth-child(n+2) {
					margin-left: 9px;
				}

				a,
				.btn_tab {
					position: relative;
					padding: 0 11px;
					height: 100%;
					@include mixin.font(#aeaeae '1.3rem/4rem' center);

					&#{escape('.S=tab-on')} {
						color: #101010;

						&::before {
							position: absolute;
							right: 0;
							bottom: 2px;
							left: 0;
							border-bottom: 2px solid #101010;
							content: '';
						}
					}
				}
			}
		}
	}
}

/** 캐러셀 */
.mm_carousel {
	&-item {
		background-color: #fff;

		// * margin 대신 padding 으로 적용

		figcaption {
			visibility: hidden;

			#{escape('.S=ready')} & {
				visibility: inherit;
			}
		}
	}

	// 페이지네이션
	&-pagination {
		bottom: 24px;

		li {
			&:nth-child(n+2) {
				margin-left: 12px;
			}
		}

		.btn_carousel-page {
			width: 9px;
			height: 9px;
			border-radius: 4px;
			background-color: var.$color_main;
			opacity: 0.27;
			transition: width const.$time_fast, opacity const.$time_fast;

			&#{escape('.S=on')} {
				// width: 38px;
				opacity: 1;
			}
		}
	}
}

/** 슬라이더 */
.mm_slider {
	position: relative;

	&-inner {
		overflow: hidden;

		// * 좌/우 padding은 inner에 적용
		// * 개수가 영역보다 적을 때 center가 아닌 left/right 정렬을 해야 할 경우, &[style*="center"] {} 로 변경 가능
	}

	&-list {
		display: inline-block;
		font-size: 0;
		white-space: nowrap;
		text-align: left;
	}

	&-item {
		display: inline-block;
		background-color: #fff;
		white-space: normal;

		// * margin 대신 padding 으로 적용하고 left/right 한 쪽보다 양쪽을 권장

		figcaption {
			visibility: hidden;

			#{escape('.S=ready')} & {
				visibility: inherit;
			}
		}

		> a {
			display: block;
		}
	}

	// 이전, 다음
	&-control {
		///
	}

	.btn_slider-prev,
	.btn_slider-next {
		position: absolute;
		z-index: 3;

		// top: 50%;
		// transform: translateY(-50%);
	}

	.btn_slider-prev {
		// left: 0;
	}

	.btn_slider-next {
		// right: 0;
	}

	// 페이지네이션
	&-pagination {
		position: absolute;
		z-index: 3;
		bottom: 24px;
		left: 50%;
		@include mixin.font('0', nowrap);

		transform: translateX(-50%);

		ol {
			margin: 0;

			li {
				display: inline-block;
				float: none;
				margin: 0;
				width: auto;

				&:nth-child(n+2) {
					margin-left: 12px;
				}
			}
		}

		.btn_slider-page {
			width: 9px;
			height: 9px;
			border-radius: 4px;
			background-color: #101010;
			opacity: 0.27;
			transition: width const.$time_fast, opacity const.$time_fast;

			&#{escape('.S=on')} {
				// width: 38px;
				opacity: 1;
			}
		}
	}
}

/** 에디터 */
.mm_editor {
	overflow: hidden;
	position: relative;
	@include mixin.font(#000 v_500 '1.2rem/1.4' left);

	img {
		width: auto;
		max-width: 100%;
	}
}

/** 로딩 */
.mm_loading {
	position: fixed;
	z-index: const.$zindex_loading;
	inset: 0;
	background-color: rgba(#fff, 0.1);
	@include mixin.font('0/1' center);

	.mm_page > & {
		position: absolute;// mobile: absolute, pc: fixed
		// top: var.$header_height_base;
		// bottom: var.$toolbar_height_base;
	}

	&-inner {
		position: absolute;
		top: 50%;
		left: 50%;
		height: auto !important;
		transform: translate(-50%, -50%);
	}

	.ico_loading {
		width: 25px;
		height: 25px;
		border-radius: 100%;
		background-color: rgba(#fff, 0.8);
	}

	p:not(.mm_ir-blind) {
		margin-top: 7px;
		@include mixin.font('1.4rem/1.8rem', nowrap);
	}
}

/** 쿠폰 */
.mm_coupon {
	overflow: hidden;
	position: relative;
	padding: 1px 0 1px 1px;
	width: 108px;
	height: 58px;
	border-radius: 0 3px 3px 0;
	background-color: #dcdcdc;
	text-align: left;

	&::after {
		position: absolute;
		inset: 1px;
		background-color: #fff;
		content: '';
	}

	.mm_coupon-inner  {
		padding: 12px 7px 0 12px;

		&::before {
			position: absolute;
			z-index: 1;
			top: 50%;
			left: -5px;
			width: 12px;
			height: 12px;
			border: 1px solid #dcdcdc;
			border-radius: 100%;
			background-color: #fff;
			transform: translateY(-50%);
			content: '';
		}

		&::after {
			position: absolute;
			z-index: 1;
			top: -1px;
			right: -1px;
			bottom: -1px;
			width: 7px;
			background-color: var.$color_main;
			content: '';
		}

		> * {
			position: relative;
			z-index: 1;
		}
	}

	.text_coupon {
		@include mixin.text-ellipsis(2);

		padding-top: 4px;
		@include mixin.font(#5c5c5c '1rem/1');
	}

	.text_price,
	.text_percent {
		@include mixin.font(v_700 '2rem/1');

		strong {
			vertical-align: 0;

			&::after {
				font-size: 1rem;
			}
		}

		sub {
			font-size: 1.5rem;
		}
	}

	&#{escape('.T=lg')} {
		width: 132px;
		height: 78px;

		.mm_coupon-inner {
			padding: 21px 10px 0 19px;

			&::before {
				left: -7px;
				width: 16px;
				height: 16px;
			}

			&::after {
				width: 11px;
			}
		}

		.text_coupon {
			padding-top: 7px;
		}
	}

	&#{escape('.T=xl')} {
		width: 178px;
		height: 88px;
		box-shadow: 3px 4px 6px 0 rgba(#000, 0.06);

		.mm_coupon-inner {
			padding: 24px 60px 0 17px;
			width: 100%;

			&::before {
				left: -7px;
				width: 16px;
				height: 16px;
			}

			&::after {
				content: none;
			}

			.text_price,
			.text_percent {
				font-size: 2.4rem;

				> *::after {
					font-size: 1.2rem;
				}
			}

			.text_coupon {
				padding: 5px 15px 0 0;
				font-size: 1.1rem;
			}

			.text_download {
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				padding: 16px 15px;
				width: 60px;
				background-color: var.$color_main;
				@include mixin.font(#fff '1.4rem/1.6rem' center);

				i {
					margin-top: 7px;
				}
			}

			&:not([href]) {
				.text_download {
					background-color: #dcdcdc;
					color: #767676;

					i::before {
						background-color: #767676;
					}
				}
			}
		}
	}

	&#{escape('.T=2xl')} {
		width: 278px;
		height: 127px;
		font-size: 1.3rem;

		.mm_coupon-inner {
			padding: 25px 22px 0 20px;

			&::before {
				left: -9px;
				width: 19px;
				height: 19px;
			}

			&::after {
				width: 10px;
			}

			.text_price,
			.text_percent {
				font-size: 2.6rem;

				sub {
					font-size: 2rem;
				}

				> *::after {
					font-size: 1.2rem;
				}
			}

			.text_coupon {
				margin-right: 70px;
				padding-top: 11px;
				@include mixin.font(#101010 '1.3rem/1.7rem');
			}

			.text_condition {
				padding-top: 2px;
				color: #888;
			}

			.text_quantity {
				position: absolute;
				top: 12px;
				right: 23px;

				span {
					position: relative;

					&::before {
						position: absolute;
						z-index: -1;
						right: 0;
						bottom: -1px;
						left: 0;
						height: 6px;
						background-color: #f0f7f7;
						content: '';
					}
				}
			}
		}
	}
}

/** 당겨서 새로고침 */
.mm_refresh {
	position: fixed;
	z-index: -1;
	top: var.$header_height_base;// 헤더 높이
	right: 0;
	left: 0;
	padding-top: 40px;
	height: 60%;
	background-color: #f5f5f5;

	#{escape('.L=main')} & {
		top: calc(var.$header_height_main + var.$gnb_height_base);
	}

	.ico_loading {
		position: relative;
		margin: 0 auto;
		width: 30px;
		height: 29px;

		i {
			position: absolute;
			top: 0;
			left: 50%;
			margin-left: -2px;
			width: 4px;
			height: 10px;
			border-radius: 2px;
			background-color: var.$color_main;
			transform-origin: 50% 150%;
			@include mixin.prefix(animation, loading-spin (0.12s * 8) ease-out infinite);
			@for $i from 1 through 8 {
				&:nth-child(#{$i + 1}) {
					transform: rotate(45deg * $i);
					@include mixin.prefix(animation-delay, 0.12s * ($i - 8));
				}
			}
		}
	}
	@keyframes loading-spin {
		0% {
			opacity: 1;
		}

		100% {
			opacity: 0;
		}
	}

	p {
		padding-top: 10px;
		@include mixin.font('1.5rem' center);
	}
}

/** 핀치줌 */
.mm_pinchzoom {
	overflow: hidden;
}

/** 회원 등급 및 혜택 (마이페이지, 고객센터에서 사용) */
.mm_grade {
	h3 {
		padding: 22px 17px 0;
		font-size: 1.7rem;

		+ p {
			padding: 10px 17px 0;
			@include mixin.font('1.1rem/1.5rem');
		}
	}

	.mm_accordion {
		margin-top: 17px;
		border-top: 1px solid #e6e6e6;

		li {
			border-color: #e6e6e6;
		}

		.text_grade {
			position: relative;
			padding: 17px 0;
			width: 100%;
			height: 56px;
			@include mixin.font(var.$color_text_base '1.2rem');

			strong {
				display: inline-block;
				padding: 0 15px;
				min-width: 120px;
				height: 22px;
				@include mixin.font(var.$color_text_base v_700 '1.5rem/2.4rem', 0);

				.image_grade {
					margin-right: 11px;
					width: 22px;
					height: 22px;
				}
			}

			span {
				position: absolute;
				top: 50%;
				margin-top: 1px;
				padding-right: 45px;
				transform: translateY(-50%);
			}
		}

		.btn_dropdown {
			.ico_dropdown::before {
				width: 14px;
				height: 17px;
				background-color: #6a6a6a !important;
			}
		}

		.mm_dropdown-item-inner {
			padding: 17px 21px 27px 25px;

			dl {
				position: relative;
				padding-left: 100px;
				@include mixin.font(var.$color_text_base '1.3rem');

				&:nth-of-type(n+2) {
					margin-top: 22px;
				}

				dt {
					position: absolute;
					top: 0;
					left: 0;
				}

				dd {
					position: relative;

					> p {
						padding-bottom: 7px;
						color: #7b7b7b;
					}

					.mm_coupon-inner::before {
						background-color: #f5f5f5;
					}

					.text_amount {
						position: absolute;
						bottom: 22px;
						left: 116px;
						vertical-align: 0;
						@include mixin.font('1.7rem/1', 0);

						&#{escape('.T=unlimited')} {
							font-size: 1.3rem;

							span {
								vertical-align: 0;
								font-size: 1.7rem;
							}
						}

						sub {
							vertical-align: 1px;
							font-size: 1rem;
						}
					}

					+ dd {
						margin-top: 18px;
					}
				}
			}
		}
	}
}

/** 팝오버 */
// .mm_popover {
// }

/** 툴팁 */
// .mm_tooltip {
// }

/** 토스트 */
.mm_toast {
	position: absolute;
	z-index: const.$zindex_floating;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	transform: translateY(100%);
	transition: transform const.$time_fast;

	.btn_toast {
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		padding-top: 18px;
		min-height: 60px;
		border-radius: 17px 17px 0 0;
		background-color: #fff;
		box-shadow: 0 -1px 3px 0 rgba(#000, 0.14);
		transform: translateY(-100%);
		cursor: pointer;

		&::before {
			position: absolute;
			top: 8px;
			right: 0;
			left: 0;
			margin: 0 auto;
			width: 39px;
			height: 4px;
			border-radius: 2px;
			background-color: #cdcdcd;
			content: '';
		}
	}

	&-inner {
		///
	}

	// 토스트 열림
	&#{escape('.S=on')} {
		transform: translateY(0);

		~ .btn_topmost {
			opacity: 0;
		}
	}
}

/** 카테고리 */
// .mm_category {
// }

/** 단계별 입력 */
.mm_process {
	position: relative;

	.mm_process-item {
		&:not(#{escape('.S=process-on')}) {
			visibility: hidden;
			overflow: hidden;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			height: 0;
			opacity: 0;
			pointer-events: none;
		}

		&#{escape('.S=process-on')} {
			visibility: inherit;
		}

		// 이전으로
		.btn_back {
			max-width: 98px;
			white-space: nowrap;

			.ico_page-prev {
				margin: 13px 9px 0 0;

				&::before {
					width: 7px;
					height: 15px;
				}
			}
		}
	}
}

/** 금액/혜택 */
.mm_costbox {
	.mm_strapline {
		margin-left: 1px;
	}

	&-unit {
		position: relative;
		margin-top: -4px;
		padding: 13px 23px 11px;
		border: 1px solid #cdcdcd;
		border-top: 0;
		border-radius: 0 0 3px 3px;
		background-color: #fafafa;
		@include mixin.font(#4a4a4a '1.3rem/2rem' right);

		&::before {
			position: absolute;
			top: -1px;
			right: -1px;
			left: -1px;
			height: 2px;
			border: 1px solid #cdcdcd;
			border-top: 0;
			border-bottom-color: #eee;
			background-color: #fff;
			content: '';
		}

		.text_time {
			margin-left: 6px;
		}
	}

	+ .mm_costbox {
		> .mm_strapline {
			margin-top: 23px;
		}
	}

	+ .mm_strapline {
		margin-top: 23px;
	}
}

.mm_cost {
	padding: 11px 13px 3px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	@include mixin.font('1.4rem/2.8rem');

	> table {
		th {
			padding-left: 5px;
			vertical-align: 0;
			text-align: left;
		}

		td {
			padding-right: 10px;
			text-align: right;
		}

		tbody {
			.text_price {
				strong {
					vertical-align: -1px; // 금액 앞에 +,- 텍스트의 정렬을 위해 -1값으로 사용
					@include mixin.font(v_600 '1.7rem');

					&::after {
						font-size: 1rem;
					}
				}
			}

			// 적립금
			.text_point {
				strong {
					@include mixin.font(v_600 '1.7rem');
				}

				sub {
					font-size: 1rem;
				}
			}

			tr {
				&:last-child {
					th,
					td {
						padding-bottom: 6px;
					}
				}

				&:only-child {
					th,
					td {
						padding-top: 1px;
					}
				}
			}
		}

		tfoot {
			border-top: 1px solid #eee;

			th,
			td {
				padding-top: 10px;
				padding-bottom: 8px;
			}

			.text_price.mm_text-variable {
				strong {
					@include mixin.font(v_600 '2rem');

					&::after {
						font-size: 1.2rem;
					}
				}
			}
		}
	}

	+ .mm_strapline {
		margin-top: 23px;
	}

	+ .mm_form-text,
	+ .mm_form-textarea,
	+ .mm_form-select {
		margin-top: 7px;
	}

	+ .mm_costbox {
		margin-top: 7px;

		.mm_strapline {
			margin-top: 27px;
		}
	}

	+ .mm_note {
		+ .mm_strapline {
			margin-top: 19px;
		}
	}
}

/** 주문관련정보 */
.mm_order-info {
	position: relative;
	padding: 13px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	@include mixin.font('1.4rem/2rem');

	table {
		caption {
			margin: -13px -12px 14px;
			padding: 11px 13px;
			border-radius: 3px 3px 0 0;
			background-color: #fafafa;
		}

		tr {
			> * {
				padding: 4px 0;
				text-align: left;
			}

			th {
				width: 86px;
				vertical-align: top;
				color: #767676;
			}
		}
	}

	.btn_address-change {
		position: absolute;
		top: 9px;
		right: 14px;
	}
}

/** 리뷰 (마이페이지 마이리뷰, 포토리뷰 상세, 체험단 후기 상세) */
// 포토리뷰와 체험단 후기 상세에서는 mm_review 하위에 일부 요소를 추가하거나, 일부 스타일을 추가 및 수정해서 사용합니다
.mm_review {
	&#{escape('.S=switch-on')} {
		.text_review {
			> b {
				@include mixin.text-ellipsis(0);
			}

			> .mm_btn {
				&::before {
					content: '닫기';
				}

				.ico_toggle::before {
					@include mixin.svg(url('/public/images/common/ico_arrow_top.svg'));
				}
			}
		}
	}

	&-head {
		position: relative;

		.text_user {
			position: absolute;
			top: 14px;
			right: 6px;
			@include mixin.font(#4a4a4a '1.2rem');

			.image_grade {
				margin: -1px 5px 0 0;
				width: 13px;
				height: 13px;
			}
		}

		.text_star {
			padding: 12px 3px 8px;

			.ico_star-fill {
				margin: 0 1px 0 0;

				&::before {
					width: 14px;
					height: 13px;
				}
			}

			span {
				display: inline-block;
				@include mixin.font('1.4rem/1.6rem');
			}
		}

		.text_info {
			padding: 3px 4px 7px;
			@include mixin.font(#4a4a4a '1.2rem/1.4');
		}
	}

	// 리뷰내용
	.text_review {
		position: relative;
		padding: 0 22px 0 3px;
		width: 100%;

		&[tabindex] {
			+ .text_date {
				padding-bottom: 23px;
			}
		}

		> b {
			@include mixin.text-ellipsis(3);
			@include mixin.font(#2b2b2b '1.4rem/2rem' left);

			br {
				display: none;
			}
		}

		> .mm_btn {
			position: absolute;
			z-index: 1;
			right: 7px;
			bottom: -36px;
			padding: 0 13px;
			height: 24px;
			@include mixin.font('1.2rem/2.4rem');

			&::before {
				content: '열기';
			}

			.ico_toggle {
				margin: 6px 0 0 4px;

				&::before {
					background-color: var.$color_text_base;
				}
			}
		}
	}

	.text_date {
		margin-top: 13px;
		padding: 0 3px 12px;
		border-bottom: 1px solid #e6e6e6;
		@include mixin.font(#a3a3a3 '1.2rem');
	}

	// 포토리뷰
	&-image {
		display: grid;
		grid-template-columns: repeat(5, minmax(auto, 66px));
		grid-gap: 2px;
		margin: 12px 3px 0;

		li {
			// float: left;
			// margin: 2px 0 0 2px;

			// &:nth-child(-n+5) {
			// 	margin-top: 0;
			// }

			// &:nth-child(5n+1) {
			// 	margin-left: 0;
			// }

			> a {
				display: block;
			}

			.image_review {
				overflow: hidden;
				position: relative;
				padding-top: 100%;
				width: 100%;

				// width: 66px;
				// height: 66px;

				img {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);

					&[class*='landscape'] {
						width: auto;
						height: 100%;
					}
				}
			}
		}

		+ .text_date {
			margin-top: 11px;
		}
	}

	// 하단 리뷰 수정
	&-foot {
		position: relative;
		text-align: right;

		.m_myreview-tooltip {
			top: 6px;
			right: 110px;

			&::before {
				right: -7px;
				bottom: 9px;
				@include mixin.triangle(#3d3d3d, right, 3px, 7px);
			}
		}

		.btn_modify {
			padding: 11px 12px;
			font-size: 1.3rem;

			.ico_review-write {
				margin: 1px 6px 0 0;

				&::before {
					width: 11px;
					height: 11px;
					background-color: var.$color_text_base;
				}
			}
		}
	}
}

/** 환불계좌관리 */
[class*='mm_order-refund'] {
	+ .mm_note {
		ul {
			margin-left: 3px;
		}
	}
}

.mm_order-refund {
	position: relative;
	padding: 15px 14px 14px;
	border: 1px solid #cdcdcd;
	border-radius: 3px;
	@include mixin.font('1.3rem/2.1rem');

	.text_bank {
		font-size: 1.6rem;
	}

	.text_name {
		padding: 1px 0 5px;
		@include mixin.font(#767676 '1.5rem');
	}

	.mm_btn {
		position: absolute;
		top: 14px;
		right: 17px;

		.ico_link {
			margin: 5px 0 0 6px;

			#{escape('.S=ios')} & {
				margin-top: 6px;
			}

			&::before {
				width: 5px;
				height: 14px;
				background-color: #fff;
			}
		}
	}

	&-none {
		p {
			margin-bottom: 10px;
			min-height: 98px;
			border: 1px dashed #cdcdcd;
			border-radius: 3px;
			@include mixin.font(#4a4a4a '1.4rem/9.8rem' center);
		}
	}
}

/** Q&A 드롭다운 */
.mm_qna {
	li {
		border: 1px solid #cdcdcd;
		border-radius: 3px;
	}

	.text_date {
		display: inline-block;
		color: #888;
	}

	.btn_dropdown,
	.mm_qna-secret {
		padding: 16px 0 16px 18px;

		.text_state {
			display: inline-block;
			position: relative;
			padding: 14px 13px 0;
			width: 55px;
			height: 55px;
			@include mixin.font(#888 '1.3rem/1.4rem' center);

			&::before {
				position: absolute;
				inset: 0;
				border-radius: 100%;
				background-color: #888;
				opacity: 0.07;
				content: '';
			}

			&.mm_text-variable::before {
				background-color: var.$color_variable;
			}
		}

		> p {
			position: absolute;
			top: 50%;
			right: 61px;
			left: 91px;
			margin-top: 2px;
			@include mixin.font('1.3rem/1.9rem');

			transform: translateY(-50%);

			.text_title {
				display: block;
				@include mixin.text-ellipsis(1);
			}

			.ico_secret {
				margin: 3px 0 0 4px;
			}
		}

		.ico_dropdown {
			right: 24px;

			&::before {
				width: 13px;
				height: 15px;
				background-color: #5c5c5c !important;
			}
		}
	}

	.mm_dropdown-item-inner {
		border-top: 1px solid #e6e6e6;
		background-color: #fafafa;
		@include mixin.font('1.3rem/1.8rem');

		> * {
			position: relative;

			&::before {
				position: absolute;
				left: 17px;
				@include mixin.font(v_600 '1.5rem/1');
			}
		}
	}

	&-qustion {
		padding: 14px 20px 12px 39px;

		&::before {
			top: 15px;
			color: var.$color_text_base;
			content: 'Q';
		}

		.mm_btn_box {
			margin: 11px 0 2px;
			text-align: right;
		}
	}

	&-answer {
		padding: 2px 20px 14px 39px;

		&::before {
			top: 3px;
			color: var.$color_variable;
			content: 'A';
		}

		.text_date {
			margin-top: 3px;
		}
	}

	&-secret {
		position: relative;
	}
}

/** 상품 선택 (판매자 문의, 리뷰작성, 체험단 후기 작성) */
.mm_product-select {
	&#{escape('.S=select-complete')} {
		.mm_dropdown {
			.btn_dropdown {
				border-radius: 3px 3px 0 0;
			}
		}
	}

	.mm_dropdown {
		&#{escape('.S=on')} {
			.btn_dropdown {
				border-radius: 3px 3px 0 0;

				.ico_dropdown::before {
					@include mixin.svg(url('/public/images/common/ico_arrow_thick_round_top.svg'));
				}
			}

			+ .mm_product-select-complete {
				display: none;
			}
		}

		.btn_dropdown {
			padding: 0 40px 0 13px;
			height: 42px;
			border: 1px solid #cdcdcd;
			border-radius: 3px;
			@include mixin.font('1.5rem/4rem' left);

			.ico_dropdown {
				right: 13px;
			}
		}
	}

	.mm_product-list {
		max-height: 186px;
		border: 1px solid #e6e6e6;
		border-top: 0;
		border-radius: 0 0 3px 3px;
	}

	&-complete {
		position: relative;

		.mm_product-item {
			padding: 13px 38px 13px 13px;
			border: 1px solid #cdcdcd;
			border-top: 0;
			border-radius: 0 0 3px 3px;
		}

		.btn_remove {
			position: absolute;
			top: 0;
			right: 0;
			width: 38px;
			height: 37px;

			.ico_remove::before {
				width: 11px;
				height: 11px;
				background-color: #b8b8b9;
			}
		}
	}
}
