@charset 'utf-8';

@use '../../assets/scss/common/helper/function';
@use '../../assets/scss/common/helper/mixin';
@use '../../assets/scss/common/setting/const';
@use '../../assets/scss/style/setting/var';

/**
 * 사은품
 * 주문결제
 */

/** 사은품 리스트 */
.mm_gift-list {
	font-size: 0;

	.mm_strapline + & {
		margin-top: 24px;
	}

	ul {
		margin: -8px 0 0 -8px;

		li {
			float: left;
			position: relative;
			margin: 8px 0 0 8px;
			width: 390px;
		}
	}

	.mm_gift-item {
		padding: 23px 15px 23px 23px;
		border: 1px solid #cdcdcd;
		border-radius: 3px;
	}

	.btn_target {
		position: absolute;
		z-index: 1;
		right: 8px;
		bottom: 18px;
		padding: 10px;
		@include mixin.font(#999 '1.3rem/1.7rem');

		b {
			position: relative;

			&::after {
				position: absolute;
				right: 1px;
				bottom: 0;
				left: 1px;
				border-bottom: 1px solid #999;
				content: '';
			}
		}

		i {
			margin-left: 6px;
		}

		~ .mm_gift-item {
			padding-right: 40px;

			.text_name {
				@include mixin.text-ellipsis(1);
			}

			.text_condition {
				@include mixin.text-ellipsis(2);

				max-height: 38px;
			}
		}
	}
}

/** 사은품 아이템 */
.mm_gift-item {
	position: relative;
	@include mixin.clearfix;

	.image_gift {
		position: absolute;
		width: 92px;

		&::after {
			padding-top: const.$prod_height_base;
			content: '';
		}
	}

	figcaption {
		margin-left: 92px;
		padding: 2px 0 0 14px;
		min-height: 92px;
		@include mixin.font(#4a4a4a '1.3rem/1.9rem');

		> p {
			@include mixin.text-ellipsis(2);
		}

		.text_name {
			@include mixin.font(const.$color_text_base '1.4rem');
		}

		.text_condition {
			margin-top: 2px;

			+ p {
				margin-top: 0;
			}
		}
	}

	.btn_gift-info {
		float: right;
		position: relative;
		z-index: 1;
		margin: 23px -15px -24px 0;
		padding: 12px 15px;
		@include mixin.font(#6a6a6a '1.3rem');

		&:not(a) {
			color: #b8b8b9;

			.ico_link::before {
				background-color: #b8b8b9;
			}
		}

		&::before {
			position: absolute;
			top: 0;
			right: 13px;
			width: 362px;
			border-top: 1px solid #eee;
			content: '';
		}

		.ico_link {
			margin: 2px 0 0 6px;

			&::before {
				width: 4px;
				height: 8px;
				background-color: #6a6a6a;
			}
		}
	}
}

/** 주문결제 */
.m_order-gift {
	margin-top: 94px;

	.mm_order-form {
		table {
			margin-top: 24px;

			tr {
				border-top-width: 34px;
			}

			th {
				small {
					display: block;
					margin-top: -10px;
					color: #888;
				}
			}
		}
	}

	.mm_gift-list {
		li {
			display: inline-block;

			input[type='radio'] {
				position: absolute;
				z-index: 1;
				inset: 0;
				opacity: 0;
				cursor: pointer;

				&:checked + .mm_gift-item {
					border-color: var.$color_main;

					.ico_form-radio::before {
						background-color: var.$color_main;
					}
				}

				+ .mm_gift-item {
					.ico_form-radio::before {
						background-color: #cdcdcd;
					}
				}
			}
		}
	}

	.mm_gift-item {
		.ico_form-radio {
			position: absolute;
			top: 13px;
			right: 14px;
			left: auto;

			&::before {
				background-color: #eee;
			}

			+ figure {
				figcaption {
					padding-right: 30px;

					.text_note {
						margin-top: 35px;
						@include mixin.font(const.$color_text_base '1.4rem/1.9rem');
					}
				}
			}
		}

		> p {
			margin-left: -10px;
			padding-top: 44px;
			height: 127px;
			@include mixin.font(#4a4a4a '1.3rem' center);

			strong {
				display: block;
				padding-bottom: 8px;
				@include mixin.font(v_600 '2rem');
			}
		}
	}

	+ * {
		margin-top: 94px;
	}
}

// *---------- 팝업 ----------*

// *---------- 모달 ----------*

/** 사은품 정보 */
.m_modal-gift-info {
	.mm_modal-item-inner {
		width: var.$modal_width_sm;
	}

	#{function.escape('.mm_modal...content')} {
		> .mm_scroller {
			padding-top: 16px;
		}
	}

	.mm_note {
		margin: 0;
		color: const.$color_text_base;
	}

	.mm_gift-list {
		padding-top: 5px;

		li {
			float: none;
			width: auto;
		}
	}

	.mm_gift-item {
		figcaption {
			> p {
				@include mixin.text-ellipsis(0);
			}
		}
	}
}

/** 사은품 지급 대상 */
.m_modal-gift-target {
	@include mixin.font('1.3rem/1.9rem');

	.mm_gift-item {
		figcaption {
			> p {
				@include mixin.text-ellipsis(0);
			}

			.text_date {
				margin-top: 8px;
			}
		}
	}

	table {
		margin-top: 22px;
		border-top: 1px solid #d5d5d5;

		th {
			padding: 14px 11px 13px;
			height: 19px;
			border-bottom: 1px solid #d5d5d5;
			background-color: #fafafa;
		}

		td {
			padding: 10px 15px;
			border-bottom: 1px solid #e6e6e6;
			@include mixin.font(#4a4a4a left);

			> .image_product {
				display: block;
				margin: 1px 0;

				&::after {
					padding-top: const.$prod_height_base;
					content: '';
				}
			}

			> b {
				margin-left: 5px;
				color: const.$color_text_base;
			}

			.text_product {
				@include mixin.text-ellipsis(3);

				margin-left: 3px;

				.text_foreword {
					margin-right: 3px;
				}
			}

			// 브랜드
			// figure {
			// 	display: flex;
			// 	align-items: center;

			// 	.image_brand {
			// 		position: relative;
			// 		padding: 17px 56px 17px 0;
			// 		width: 150px;
			// 		height: 72px;
			// 		background-origin: content-box;
			// 		background-position-x: left;

			// 		$format: (landscape-4x, 10px 40px 10px 0), (landscape-3x, 15px 40px 15px 0), (landscape-2x, 23px 40px 23px 0), (portrait-3x, 15px 10px 15px 0), (portrait-2x, 15px 10px 15px 0), (portrait, 12px 10px 12px 0);
			// 		@each $ratio, $padding in $format {
			// 			&#{function.escape('.S=image-#{$ratio}')} {
			// 				padding: $padding;
			// 			}
			// 		}

			// 		&#{function.escape('.S=error')}::before {
			// 			position: absolute;
			// 			top: 50%;
			// 			left: 0;
			// 			transform: translateY(-50%);
			// 			content: attr(title);
			// 		}
			// 	}

			// 	figcaption {
			// 		flex: 1;
			// 		margin-top: 1px;
			// 		padding-left: 100px;
			// 		min-width: 0;
			// 	}
			// }
		}
	}

	.mm_pagination {
		margin-top: 34px;
	}
}
